@charset "utf-8";
@import "fonts.css";
/* CSS Document */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, /*em,*/ img, ins, kbd, q, s, samp,small, strike, /*strong,*/ sub, sup, tt, var,/*b,*/ u, /*i,*/ center,dl, dt, dd, ol, ul, lifieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}

*,
*:after,
*:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* for IE6, 7, 8 */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}

/* Basic Style*/

html, body, input, select, textarea {font-family:'맑은 고딕', malgunGothic, '나눔고딕',Nanum Gothic, '나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; font-size:14px; line-height:1.6em; letter-spacing:0px;}


a {text-decoration:none;}
a:link {color:#101010; text-decoration:none;}
a:visited {color:#101010; text-decoration:none;}
a:active {color:#101010; text-decoration:none;}
a:hover {color:#101010; text-decoration:underline;}

td.pointer {cursor: pointer;}
.checkBtn {width:100px; margin:0 8px; background-color:#5D5D5D; text-align:center; border:solid 1px #0b2d61; box-shadow:0 3px 0 #ddd; color:#fff; font-weight:700; font-size:14px; float:left;}
.float_l {float:left}
.LoginStoreName{font-size:10px}
.contentGrp h1.align_C {text-align:center}
#cycleBox{text-align:center;padding:5px 20px 5px 10px}
#popupGrp input{border:1px solid gray;}
.noticeDetail{width:85%;display:inline-block}
#tx_trex_container{width:100%;}
.cursorPointer {cursor:pointer;}
.cautionTxt {color:#f30;}

input:read-only{background-color:#f5f5f5; color:#333;}
input:-moz-read-only{background-color:#f5f5f5; color:#333;}
input:disabled {background-color:#f5f5f5; color:#333;} /* 190423 */
input[name=use]{vertical-align:middle}

input[type=text]::-ms-clear{ display: none; }

input {border:solid 1px #aaa; line-height:2.0em; padding:2px;}
select {border:solid 1px #aaa; padding:2px 10px; margin:0; min-width:80px; text-align:center; height:30px;}

input, select {-webkit-border-radius:0;}

/* h size */

h1 {font-size:22px; font-weight:600; line-height:3.0em;}
h2 {font-size:18px; font-weight:600; line-height:2.6em;}
h3 {font-size:18px; font-weight:500; line-height:2.4em;}
h4 {font-size:16px; font-weight:500; line-height:2.0em;}
h5 {font-size:14px; font-weight:600; line-height:1.6em;}
h6 {font-size:12px; font-weight:500; line-height:1.3em;}

.h1 {font-size:22px;} .h2 {font-size:18px;} .h3 {font-size:18px;} .h4 {font-size:16px;} .h5 {font-size:14px;} .h6 {font-size:12px;}
.big {font-size:34px; line-height:2.2em;} .Xbig {font-size:52px; line-height:1.6em;}
.txtBold {font-weight:600;}

/* Delete Round outline */

/* display */
.d_none{display:none !important}

/* fix table */
.fix_table{table-layout:fixed;}
.align_l {text-align:left}
.align_c {text-align:center}
.align_r {text-align:right}
.ellipsis{text-overflow: ellipsis    width: 100%    white-space: nowrap    overflow: hidden}
