.ellipsis{text-overflow: ellipsis;    width: 100%;    white-space: nowrap;    overflow: hidden}
.scroll-table div.scrollField {min-height: 150px; max-height: 150px; background:white; overflow: auto; overflow-x: hidden;}
#refuseConfirm {text-decoration:underline;cursor:pointer}
#sttusView{margin:0 10px; white-space: nowrap;}

.infotip {position: relative; display: inline-block; text-decoration: none; outline: none; margin-left: 5px;}
.infotip div.balloonGrp{visibility: hidden; position: absolute; min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; left: 27px; top: -5px; white-space: normal; z-index: 9999999; display: block; background-size: 100%;}
.balloon{position: relative; line-height: 2em; top: 0px; font-weight: 500; width:248px;font-size:12px;}
/*.infotip:hover{border: 0; }*/
.infotip:hover div{visibility: visible;}
td.pointer span.pointer{border-bottom: 1px solid;}
#refuseConfirm {font-size: 12px; margin:1px 0px 0px 13px; cursor: pointer;}
.imgWring {font-size: 11px; color: rgb(102,140,207);}

span.replyIcon::after {content: ""; background-image: url(../image/icon_reply.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}
.btnDownloadGray {background-image: url(../image/btn_download_gray_nl.png); background-repeat: no-repeat; background-position: 8px center; text-indent: -9999px; overflow: hidden; display: block; width: 37px;}


/* table device */
.tableArea .tableForm .device {width:220px; display:inline-block; padding:5px;}

.disp-ellipsis{text-overflow: ellipsis;   white-space: nowrap;    overflow: hidden;}

span.replyIcon::after {content: ""; background-image: url(../image/icon_reply.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}

.selTr > td{background : #ddd !important;}

.barContainer{ height: 151px; width: 40%; position: relative; margin: 0px auto; min-width: 100px; max-width: 141px; border:solid 1px #aaa; border-radius:5px; background-color:#f5f5f5; padding:0;}
.barPercentBox{width:100%; background-color:#628bd3; border:solid 0px #103363; border-radius:5px; position:absolute; bottom:0; text-align:center; color:#fff;overflow: visible !important;}
.barChartBox{display:inline-block; width: 20%; min-width: 156px; text-align:center; margin: 25px 0px 25px 0px}
.barUseStatTxt{text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold; width:100%; position:absolute; color: #f9f7f7;text-shadow:-1px 0 #4e4d4d, 0 1px #4e4d4d, 1px 0 #4e4d4d, 0 -1px #4e4d4d;}
.barUseStatBottmTxt{font-size: 14px;line-height: 1.4; margin-top: 2%;}

/* popup window Large */

.popupWinLarge {width:800px; height:500px; top:600px; left:500px; border:solid 1px #999; position:absolute; z-index:5010; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd;}
.popupWinLarge .popupTitle {padding:2px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
.popupWinLarge .popupContent {font-size:14px; padding:10px 0;}
.popupWinLarge .popupContent li {border-bottom:solid 1px #ddd; padding:3px;}
.popupWinLarge .popupContent label {width:160px; display:inline-block; font-weight:600; float:left;}
.popupWinLarge .btnGrp {border:solid 0px #f30; display:inline-block;}
.popupWinLarge .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}

.popupWinLarge{left:100px;top:100px}

/* 서브메타데이터 상세보기 화면 팝업창 */
#popupDetailSubmetadata { position: absolute; width: 500px; min-height: 200px; max-height: 800px; border: solid 1px #999; top: 100px; left: 30%; padding: 20px; background-color: #fff; box-shadow: 5px 5px 2px #ddd;}
#popupDetailSubmetadata .popupTitle {padding: 10px 5px; font-size:18px; font-weight:600; width: 100%; position: relative; text-align: center; border-bottom:solid 2px #333;}
#popupDetailSubmetadata .metadataGrpSubmetadata { border : solid 1px #aaa; font-size : 14px; margin-top:20px;}
#popupDetailSubmetadata .metadataGrpSubmetadata th {width: 130px; padding: 5px; background-color: #f5f5f5;border-right: solid 1px #ddd; }
#popupDetailSubmetadata #detailSubmetadata {width: 100%;}
#popupDetailSubmetadata #detailSubmetadata th {border-bottom: solid 1px #ddd;}
#popupDetailSubmetadata #detailSubmetadata td {border-bottom: solid 1px #ddd; padding:  0 0 0 10px;}

/* 상세보기 팝업창의 서브메타데이터 팝업창 */
#popupMetaWin { position: fixed; width: 500px; min-height: 200px; max-height: 800px; border: solid 1px #999;
top: 50%; left: 50%; margin-left:-250px; margin-top:-150px; padding: 20px; background-color: #fff; box-shadow: 5px 5px 2px #ddd; }
#popupMetaWin .popupTitle {padding: 10px 5px; font-size:18px; font-weight:600; width: 100%; position: relative; text-align: center; border-bottom:solid 2px #333;}
#popupMetaWin .metaGrp { border : solid 1px #aaa; font-size : 14px; margin-top:20px;}
#popupMetaWin .metaGrp th {width: 130px; padding: 5px; background-color: #f5f5f5; border-right: solid 1px #ddd; }
#popupMetaWin #detailMeta {width: 100%;}
#popupMetaWin #detailMeta th {border-bottom: solid 1px #ddd;}
#popupMetaWin #detailMeta td {border-bottom: solid 1px #ddd; padding:  0 0 0 10px; text-align: left;}

/* scroll-table */
.disp-scroll-table {width: 100%; position: relative; padding-top: 38px; border: solid 1px #ddd !important;}
.disp-scroll-table div.scrollField {min-height: 150px; max-height: 150px; background:white; overflow: auto; overflow-x: hidden;}
.disp-scroll-table table {width: 100%; table-layout: fixed; border-spacing: 0; border-collapse: collapse;}
.disp-scroll-table table thead tr {position: absolute; top: 0; left:0;}
.disp-scroll-table table thead tr th {font-weight: normal;}
.disp-scroll-table table thead tr th:first-child {padding-left: 15px; padding-right: 15px; }
.disp-scroll-table table td {text-align: center;}
.disp-scroll-table table td:first-child {}
.disp-scroll-table table tr {display: inline-table; width: 100%; table-layout: fixed;}
.disp-scroll-table table tr td.contsTitle div {width: calc(100% - 95.33px); display: inline; float: left; min-width: 69px; text-align:left !important;}

.disp-scroll-table table thead tr th:nth-child(1){width:320px;}
.disp-scroll-table table thead tr th:nth-child(2){width:218px;}
.disp-scroll-table table thead tr th:nth-child(3){width:200px;}
.disp-scroll-table table td:nth-child(1){width:320px;}
.disp-scroll-table table td:nth-child(2){width:218px;}
.disp-scroll-table table td:nth-child(3){width:200px;}
.disp-scroll-table table td:nth-child(4){display:none;}
.disp-scroll-table table td:nth-child(5){display:none;}

#harfGrp .titleTable th{height:42px;}
/* grid */
#gridArea {margin-bottom: 0px;}
#jqgridDispData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
#jqgridDispHstData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
#jqgridNoticeData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
#jqgridSvcNoticeData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
#jqgridOlSvcNoticeData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
#jqgridFaqData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }

.scroll-table {padding-top: 43px;height: 352px; overflow: hidden; border: solid 1px #aaa !important;}
.scroll-table table td {height:43px; text-align: left; text-indent: 23px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.scroll-table div.scrollField{min-height: 311px;  max-height: 311px;}
.scroll-table .contsTitle{position:relative}
.scroll-table .cretDt{text-align:center; text-indent: 0px;}
.btnSmallGrayCustom{height: 30px; top: 6px; position:absolute;font-size: 11px !important; padding: 2px 1% !important;text-indent:0px;}
.noData td{text-align: center !important; height: 103px !important;}
.pointer{cursor:pointer}
#gridArea {margin-bottom:0px}

#popupWinBig .popupContent label{text-align:center}
.balloon{font-size:12px;}

 .balloon{font-size:12px; display: block;
    line-height:1.8em;
    overflow:hidden; text-overflow: hidden;
    padding-right: 10px;
    max-height:490px;
    }

.balloon::before{
    content:'...';
    position: absolute;
    margin-right: 3px;
    right: 0;
    bottom: 0;
    }

.balloon::after{
    content:'';
    position: absolute;
    right:0;
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    margin-right: 3px;
    margin-bottom: 0.2em;
    background:#F6F6F6;
    }

.balloonGrp{visibility:hidden}

.boxStateBlack {padding: 4px 10px; height: 28px; border: solid 1px #aaa; font-weight: 600; text-align: center; color: #000; background-color: #f5f5f5; border-radius: 3px; line-height: 1.0em; display: inline-block;}
.tableArea .tableDetail th:first-of-type::after {content: ""; display: inline-block; vertical-align: middle; min-height: 39px;}

/* important notice */
.noticeImptRowBold td {font-weight : bold !important}

/*tableCenter*/
.absol_btn .cellTable{width: 0px;height: 0px; position:absolute; z-index:1}
.absol_btn .cellTable input[type=button] {position:absolute; top:24px;}
.absol_btn .cellTable:nth-child(0){left:0px}
.absol_btn .searchBox + .cellTable input{right:0px}
.absol_btn .searchBox + .cellTable{float:right}

.CenterGrp{border: solid 0px #f30; clear: both; position: relative; display: table; width: 100%; margin: 0; padding: 0px; height: 84px; vertical-align: middle;}
.CenterGrp .searchBox{margin-top: 0px; display: table-cell; text-align: center; width: 100%; vertical-align: middle; left: 0; top: 0; position:relative}
.CenterGrp .searchBox .searchGrp{width:auto; display: inline-block; vertical-align: middle;}
.CenterGrp .searchBox .searchGrp div{margin-top: 0px;}
.CenterGrp .searchBox .searchGrp .selectBox{padding:0px; margin-top: 0px;}
.CenterGrp .cellTable{display: table-cell; vertical-align: middle;}

.SyncBtn {position: absolute; left: 0px; text-align: center; top: 58px; padding: 0;}
.btnREV{width:260px}
.tab2 .tableForm td{height: 50px;}
.releaseGrp {margin-bottom: 20px !important;}
.btnHelp{margin-left: 10px;}
.verFileList{padding-bottom:20px; display:table;}
.verFileList div{height: 100%; display: table-cell;}
.verFileList span{display: table-cell;padding-left: 16px;}

#thumbnailArea .fileTable:last-child tr > td,
#coverImgArea .fileTable:last-child tr > td,
#fileArea .fileTable:last-child tr > td {border-bottom:0px !important; }

#thumbnailArea .fileTable tr > td,
#coverImgArea .fileTable tr > td,
#fileArea .fileTable tr > td {padding: 5px 0px; width:50%;}

.table_cell{display: table-cell; vertical-align: middle;}
/*common*/
.inline_b{display:inline-block}
.table{display:table; width:100%;}

/*device use*/
.scrollBody{height: 163px; background: #f7f7f7; border: 2px solid #e8e3e3; overflow-y: scroll; border-radius: 5px;}
.deviceBox .boxBody .item2{box-shadow: 1px 1px 1px 1px #e2d7d7; border: 1px solid #c5c5c5; border:0px; background-color: #ffffff; margin: 3px 0px;}
.deviceBox .boxBody .contsBody{display: table; height: 126px; width: 100%;}
.deviceBox .boxBody .contsBody img{max-width: 157px; max-height:85px}
.deviceBox .boxBody .dcontent{display: table-cell; vertical-align: middle;}
.faOff{color: #929292; font-weight: bold; font-size: 13px;}
.deviceBox .boxHead .boxHeadDevice{display: block; width: 80%;}
.deviceBox .boxHead{padding:0px 20px}
.btn_cat{float: right; display:none;}

/*Conts  Regist & edit ProcessBar S*/
#divCenter {width:100%; height:100%; top:0px; left:0px; position:fixed; display:block; background-color:rgba(255,255,255,0.7); z-index:99; text-align:center; }
#divCenter #popup_progressbar {position:absolute; top:41%; left:32%; z-index:100; width:40%; height:160px; border:solid 2px #aaa; background-color:#fff; opacity: 0.9; border-radius: 6px; padding:20px;}
#divCenter #popup_progressbar .bar {font-size:20px; color:#555; font-weight:600; border:solid 1px #aaa; background-color:#eee; height:24px; margin-top:30px;}
#divCenter #popup_progressbar .rate {  height:30px; text-align:right; line-height:30px;}
#divCenter #popup_progressbar .guide {font-size:20px; font-weight:500; color:#333; text-align:center; line-height:60px; height:60px;}
#divCenter #popup_progressbar .bar #barWidth{float:left;}
/*Conts  Regist & edit ProcessBar E*/


/* layout*/
#contents{padding-right:0px}
#rightGrp{padding:40px 40px 0px 40px}
#contents{min-height: calc(100% - 100px);}
#bottom{margin-top:50px;}

/* pay Info */
.payInfoGrp {font-size:14px !important; text-align: center; width: 100%;}
.payInfoGrp th {color:#555; line-height:3.0em; font-size:14px; width:16.66667%;}
.payInfoGrp td {height:100px;}
.payInfoGrp thead th{background-color: #f5f5f5;}
.payInfoGrp .titleBig {font-size:16px; font-weight:600; color:#101010 !important;}
.payInfoGrp .dPay {font-size:15px !important; color:#101010; text-align:right !important; padding-right:10px !important; font-weight:600;}
.payInfoGrp .pPay {font-size:10px; color:#26a092; font-weight:200;}
.payInfoGrp .pItem {font-size:12px !important; text-align:left !important; padding-left:20px !important; line-height:1.8em;}
.payInfoGrp tr:hover  {background-color:#eee;}
.payGraphGrp .tab {width:150px; height:40px; line-height:40px; text-align:center; font-weight:600; float:left; border:solid 1px #999; background-color:#ddd;}
.payGraphGrp .tabCell {width:10px; height:40px; border-bottom:solid 1px #999; float:left;}
.payGraphGrp .tabRelease {background-color:#fff; border-bottom:solid 1px #fff;}
/* pay Info */

/* left login user */
#leftGrp .loginUserGrp > ul { display:table; }
#leftGrp .loginUser { width:90px; padding-top:0px; display:table-cell; vertical-align:middle; float:none; }
#leftGrp .loginUserLogout { display:table-cell; vertical-align:middle; float:none; }
#leftGrp .loginUser .loginUserName { vertical-align:middle; padding-top:0px; display:block; line-height:1.2em; }

#uploadPercent {display:table; margin: 0 auto;clear:both;}
#uploadText{display:block}

/* 회원 가입 팝업 */
#findMember .findTitle {text-align:center;}
#findMember .findForm .joinInput {height:32px !important;padding:0px 10px 0px 10px !important;}
#findMember select {height:32px !important;}
#findMember .btnClose {float:none;position:absolute;top:20px;right:20px;padding-left:0px;}

.buttonBoxOn {padding:5px 10px; font-size:14px; color :#fff !important; background-color:#628bd3 !important; border:solid 1px #5071a9; min-width:100px;}
#userSetProdLmtCntBox {display: none;}
#userSetBox {display:none;}

/* 전시페이지관리 > 메인노출콘텐츠 > 수정 시 등록일 숨김 처리 */
.hiddenFont {font-size: 0px;}
.target_bak{height: 36px; vertical-align: middle; display: table-cell; text-align: center; margin: 0 auto; width: 100%; border: 1px solid #999; color: #615f5f; background: white;}
.target_bak + #target{display:none;}

.PopSearchGrp {display:table; width:100%;}
.PopSearchGrp .cellTable{display:table-cell; vertical-align:middle;}
.PopSearchGrp .cellTable #searchKeyword{width:470px}
.PopSearchGrp .btnNormalWhite{width:77px; margin:0px 1px;}

/* 콘텐츠 상세보기 상세설명에 space, enter 없이 긴 글 입력 시 ui 깨지는 문제로 word-break 추가*/
#contents .tableDetail td {word-break: break-all;}

/* 게시판 (공지사항, FAQ, 문의사항 상세보기)에서 내용을 space, enter 없이 긴 글 입력 시 ui 깨지는 문제로 word-break 추가 */
.notice .viewDetail {word-break: break-all;}
.faq .faqDetail {word-break: break-all;}
.qna .qnaDetail {word-break: break-all;}

/* Device 버전 관리 상세정보 word-break 추가 */
.contentGrp .contents {word-break: break-all;}

/* IE10 이하 브라우저에서 버튼 위에 특정 Layer에 의해 이벤트 막히는 문제 회피용 */
.swal-button__loader {z-index:-2 !important;}

/* popUp Password  [ 비밀번호 확인 팝업  ]*/
#popupComfirm {display:none; height: 224px; width:513px;}
#cofirmPwd{width:100%}

/* 비밀번호 변경 화면 */
#pwdloginMiddle {width:100%; border:solid 0px #03f; height: -webkit-calc(100% - 120px); height: -moz-calc(100% - 120px); height: calc(100% - 120px); min-height:700px; padding-top:7%; background-color:#fafafa;}
#pwdloginMiddle .pwdTitle {text-align:center; padding: 20px 30px;}
#pwdloginMiddle .pwdTitle span:nth-child(1){padding-right:10px;}
#pwdloginMiddle .pwdTitle span:nth-child(2){color:red}
#pwdloginMiddle .pwdLoginGrp {width:550px;  margin:0 auto;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp {text-align:center;width:100%; height:100%; border:solid 1px #aaa; background-color:#f5f5f5; border-radius:3px; font-size:14px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .dotted {font-size:0.5px;color:red;margin: 0px 5px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .pwdDescription {text-align:left;padding: 10px 15px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul {border-top: solid 2px #777; border-bottom:solid 1px #ddd;padding:7px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li {padding:10px 50px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li:nth-child(-n + 2) {border-bottom:solid 1px #ddd;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li .itemW100 {width:100%; min-width:100px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .btnGrp {width:120px; margin:0 auto; background-color:#fff;border:solid 1px #aaa; color:#101010; font-weight:600; padding:2px 10px; text-align:center; font-size:14px; border-radius:3px; margin:10px;  cursor:pointer;}

/* 이미지 규격 조정 */
td #coverImg, #thumbnailList {height:auto !important}
td #coverImg a {position:relative}
td #coverImg a,
td #coverImg img{width: 320px !important; height: 240px !important; margin-left: 0px !important; margin-top: 0px !important; left:0px !important; top:0px !important}
td #thumbnailList a {position:relative;margin:0px 1px 0px 0px}
td #thumbnailList a,
td #thumbnailList img {width: 240px !important; height: 180px !important; margin-left: 0px !important; margin-top: 0px !important; left:0px !important; top:0px !important}
div#thumbnailList a {position:relative;top:0px !important; left:0px !important; margin:0px !important; padding:0px !important; min-height:276px}
div#thumbnailList a img {min-height:276px; margin: 0px !important; top: 0px;left: 0px;}

/* 디바이스 설치 현황 - 디바이스 정보(CPU, 메모리) 말풍선 관련 */
.deviceBox {position:relative;}

/* 디바이스 설치 현황 - 말풍선 관련  */
.balloon4 {width: 100%;}
.balloonGrp3 {min-width:215px;}
.balloon3:after {display: table;}
.listArea .tableList:last-of-type {margin-bottom:30px;}

/* 메뉴 디바이스 common_editor.css 사용으로 변경하면서 table 상단에 border 삭제 */
/*.border_t_0 {border-top:0px !important;}*/
.d_block {display:block;}

/* 예약관리에서 하나의 예약 시간에 두 개 이상의 예약정보가 포함되어 있을경우 예약정보들이 붙어서 표시되는 오류 수정 */
#contents .reserveFinal {margin: 2px 0px;}
#contents .reserveCancel {margin: 2px 0px;}

.dcontent img {max-width: 100px; max-height: 66px;}

/* 콘텐츠 상세보기 Scrollbar */
#mCSB_1_scrollbar_vertical{border: 4px solid #fff;opacity: 0.4;}
.mCSB_inside > .mCSB_container{ margin-right: 0px !important; }
#submetadataTableArea th{white-space: nowrap;}
#submetadataTableArea td{word-break: break-all;}
#submetadataTableArea{max-height:412px}
#submetadataTableArea{overflow: hidden;}

/* 공지사항, 문의사항 제목 길이 변경으로 추가 */
.notice .noticeTitle {display: inline-block; min-width: 100%;}
.notice .noticeTitle .noticeDate { display: inline-block;}
.qna .qnaTitleQsn {display: inline-block; min-width: 100%;}
#noticeWindow .noticeTitle {padding: 20px 5px; overflow:hidden}
#noticeWindow .btnCloseWin {top: 0px;}
#title span {position:absolute;}

/* 전시페이지관리 썸네일 말풍선 표시 오류로 css 따로 설정 */
.balloonGrpCustom {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; position: absolute; left: 353px; top: 155px; white-space: normal; position: fixed; z-index: 9999999; display:block; background-size:100%;}
.balloonGrpCustom {visibility:hidden}

/* 회원 정보 (휴대폰 번호) */
.memberPhoneBox {vertical-align: middle; height: 100%; display: table-row;vertical-align: middle;}
.memberPhoneBox .memberPhoneNo {float: left; float: left; display: table-cell;}
.memberPhoneBox .rightBtn {border: 0px solid #141414; background-color: #fff; width: 24px; height: 28px; cursor: pointer; border-radius: 3px; background-size:100% 80%; background-position:center; background-repeat:no-repeat;    margin: 0px 5px 0px 7px; isplay: table-cell; vertical-align: middle;}
.memberPhoneBox .rightBtn:focus{outline: none;}
.memberPhoneBox .rightIconMius {background-image:url(../image/btn_minusCircle.png);}
.memberPhoneBox .rightIconPlus {background-image:url(../image/btn_plusCircle.png);}
.memberPhoneBox .cautionTxt {display: table-cell; vertical-align: middle; line-height:1px}
.margin_2 {margin:2px 0px}

.detailstatConts {height: 36px; float: left; display: table; vertical-align: middle;}
.detailstatConts > p{vertical-align: middle; display: table-cell; font-weight:bold}
.stateProduct {width:auto !important}


.clearInput_box {position: relative;}
.clearInput:-ms-clear{display: none;}
.clearInput {width: 100%;}
.clearBtn {position: absolute; right: 8px; top: 0; bottom: 0; width: 10px; height: 99%; border-top: 1px solid #999999; border-bottom: 1px solid #999999; margin: auto; font-size: 13px; font-weight: bold; cursor: pointer; color: #6f6c6c; background-color: #fff;}
.clearBtn span {vertical-align: middle;}

.tableLineRightTop {text-align: right; width: 93%; margin: 0 auto; height: 17px; font-size:11px}
.tableLineLftBtm {text-align: left; width: 80%; margin: 0 auto; font-size:11px}
.noData {text-align: center; border: 2px solid #999999;  padding: 50px; display:none;}
.tb_diag {background-image:url(../image/tableDiagonal.png); background-repeat:no-repeat;}
.imgPreview img {max-width : 100%;}

/* service terms */
#contents .rsvGrp .rsvSelect #svcSelbox {width : 160px !important;}
#contents .rsvGrp .rsvSelect #stpltSelbox {width : 160px !important;}
.tableDetail #stpltContent {line-height: initial;}
#stpltContent table {border: 1px solid grey !important; border-collapse: separate !important; border-spacing: 1px;}
#stpltContent td {border: 1px solid grey !important; padding: 0px !important;}
#stpltContent img {max-width : 100%; max-height: 100%;}

/* serviceAppVersion */
#contents .rsvGrp .rsvSelect .selSpan #svcList {width : 150px !important;}

.notice .viewDetail {line-height: initial !important;}
.faq .faqDetail {line-height: initial !important;}
.qna .qnaDetail {line-height: initial !important;}