@charset "utf-8";

/* datepicker 190422 */

.ui-datepicker .ui-datepicker-title:after {content:""; display:block; clear:both}
.ui-datepicker select.ui-datepicker-month {float:right}
.ui-datepicker select.ui-datepicker-year {float:left}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {vertical-align:middle}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:50%; margin-top:-12px}
.date_period {display:inline-block; position:relative}
.date_period .ui-datepicker-trigger {position:absolute; right:4px; top:50%; margin-top:-10px}
.date_period input[type="text"]:disabled + img {pointer-events:none}

.itemPeriodDate {padding-top:1px}
.itemPeriodDate:after {content:""; display:block; clear:both}
.itemPeriodDate .btnDayChange {float:left}
.itemPeriodDate .btnDayChange ~ .btnDayChange {margin-left:5px}
.itemPeriodDate .date_picker {float:left; height:30px; margin-left:5px}
.btnDayChange {width:30px; height:30px; line-height:1.2em; text-align:center; vertical-align:middle}

/* Button Set */

.btnGrp {border:solid 0px #f30; clear:both; padding:5px 0px; margin:20px 0; position:relative; height:36px;}
.btnGrp2 {border:solid 0px #f30; padding:5px 0px; margin:5px 0; overflow:hidden;}
.btnGroup {border:solid 0px #f30; padding:5px 0px; margin:20px 0; overflow:hidden;}


.btnNormal {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 4px 35px; width:125px; text-align:center; cursor:pointer; border-radius:3px;}
.btnSmall {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 3px 35px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnSLarge {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 4px 35px; width:140px; text-align:center; cursor:pointer; border-radius:3px;}
.btnLarge {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 4px 35px; width:160px; text-align:center; cursor:pointer; border-radius:3px;}
.btnXLarge {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 4px 35px; width:180px; text-align:center; cursor:pointer; border-radius:3px;}
.btnList {background-image:url(../image/btn_list.png); background-repeat:no-repeat; background-position:15px center;}
.btnWrite {background-image:url(../image/btn_write.png); background-repeat:no-repeat; background-position:15px center;}
.btnDefaultWhite {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:1px 1px; text-align:center; cursor:pointer; border-radius:3px;}
.btnSearch  {background-image:url(../image/btn_search.png); background-repeat:no-repeat; background-position:15px center;}
.btnSearchSmall  {background-image:url(../image/btn_searchSmall.png); background-repeat:no-repeat; background-position:15px center;}
.btnSearchLong {width:160px; background-image:url(../image/btn_search.png); background-repeat:no-repeat; background-position:15px center; padding:6px 10px;  padding-left:30px;}
.btnSearchLongWhite {background-image:url(../image/btn_searchsmall_gray.png); background-repeat:no-repeat; background-position:10px center; padding:4px 10px 3px 10px;  padding-left:30px; }
.btnModify  {background-image:url(../image/btn_modify.png); background-repeat:no-repeat; background-position:15px center;}
.btnModifyWhite  {background-image:url(../image/btn_edit.png); background-repeat:no-repeat; background-position:15px center;}
.btnHisModify {background-image:url(../image/btn_history.png); background-repeat:no-repeat; background-position:15px center;}
.btnReset  {background-image:url(../image/btn_default.png); background-repeat:no-repeat; background-position:15px center;}
.btnResetWhite  {background-image:url(../image/btn_default_white.png); background-repeat:no-repeat; background-position:10px center;}
.btnDefault  {background-image:url(../image/btn_default.png); background-repeat:no-repeat; background-position:15px center;}
.btnCancel  {background-image:url(../image/btn_cancel.png); background-repeat:no-repeat; background-position:15px center;}
.btnExa {background-image:url(../image/btn_exa.png); background-repeat:no-repeat; background-position:15px center;}
.btnRestore {background-image:url(../image/btn_restore.png); background-repeat:no-repeat; background-position:15px center;}
.btnAdd {background-image:url(../image/btn_add2.png); background-repeat:no-repeat; background-position:15px center;}
.btnBack {background-image:url(../image/btn_back.png); background-repeat:no-repeat; background-position:15px center;}
.btnContract {background-image:url(../image/btn_contract.png); background-repeat:no-repeat; background-position:15px center;}
.btnNoPadding {padding:5px 10px;}

.btnClose {background-image:url(../image/btn_close.png); background-repeat:no-repeat; background-position:15px center; padding-left:35px;}
.btnDownloadGray {background-image:url(../image/btn_download_gray.png); background-repeat:no-repeat; background-position:8px center; /* text-indent: -9999px; */ overflow: hidden; display: inline-block;}
.btnNormalWhite {border:solid 1px #999; background-color:#f5f5f5; color:#333; font-size:14px; font-weight:600; padding:2px 10px; text-align:center; cursor:pointer; border-radius:3px; line-height:1.6em;}
.btnSmallWhite {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:0px 10px 0px 30px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnSmallGray {border:solid 1px #999; background-color:#f5f5f5; color:#333; font-size:12px; font-weight:600; padding:2px 10px;   text-align:center; cursor:pointer; border-radius:3px;}
.btnWhite {border:solid 1px #999; background-color:#f5f5f5; color:#333; font-size:14px; font-weight:600; padding:0px 10px 0px 30px; text-align:center; cursor:pointer; border-radius:3px;}
.btnWhiteSm {border:solid 1px #999; background-color:#f5f5f5; color:#333; font-size:14px; font-weight:600; padding:0px 15px 0px 35px; text-align:center; cursor:pointer; border-radius:3px;}
.btnDownloadGray {background-image:url(../image/btn_download_gray.png); background-repeat:no-repeat; background-position:10px center; padding-left:35px;}

.btnReserveWhite {background-image:url(../image/btn_reserve_white.png); background-repeat:no-repeat; background-position:15px center;}
.btnReserve {background-image:url(../image/btn_reserve.png); background-repeat:no-repeat; background-position:15px center;}
.btnSave {background-image:url(../image/btn_save.png); background-repeat:no-repeat; background-position:15px center;}
.btnFormat {background-image:url(../image/btn_format.png); background-repeat:no-repeat; background-position:15px center;}
.btnDoubleGray {border:solid 1px #999; background-color:#fff; background-image:url(../image/btn_double_gray.png); background-repeat:no-repeat;  color:#333; font-size:14px; font-weight:600; padding:1px 15px 1px 35px; text-align:center; cursor:pointer; border-radius:3px; background-position:10px center;}
.btnSearchWhite {border:solid 1px #999; background-color:#fff; background-image:url(../image/btn_searchsmall_gray.png); background-repeat:no-repeat;  color:#333; font-size:14px; font-weight:600; padding:3px 15px 3px 35px; text-align:center; cursor:pointer; border-radius:3px; background-position:10px center; width:80px; line-height:1.6em;}
.btnDelete  {background-image:url(../image/btn_delete.png); background-repeat:no-repeat; background-position:15px center;}
.btnDeleteLong  {background-image:url(../image/btn_delete.png); background-repeat:no-repeat; background-position:10px center; padding-left:40px;}
.btnDouble  {background-image:url(../image/btn_double.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px; margin-left:10px;}
.btnModifyLog  {background-image:url(../image/btn_log.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnOk  {background-image:url(../image/btn_ok.png); background-repeat:no-repeat; background-position:15px center;}
.btnReturn {background-image:url(../image/btn_return.png); background-repeat:no-repeat; background-position:15px center;}
.btnDisplay {background-image:url(../image/btn_display.png); background-repeat:no-repeat; background-position:15px center;}
.btnContent {background-image:url(../image/btn_content.png); background-repeat:no-repeat; background-position:15px center;}
.btnMetadata {background-image:url(../image/btn_metadata.png); background-repeat:no-repeat; background-position:5px center; padding-left:25px;}

.btnRight {float:right;}
.btnRight2 {float:right; position:absolute; right:0px; top:7px;}
.btnLeft {float:left; margin-right:5px;}
.btnCenter {margin:0 auto; position:absolute; left: -webkit-calc(50% - 60px); left: -moz-calc(50% - 60px); left: calc(50% - 60px); text-align:center} /* 190424 */
.btnCenter2 {margin:0 auto; position:absolute; left: -webkit-calc(50% - 120px); left: -moz-calc(50% - 120px); left: calc(50% - 120px);}
.btnPassword {background-image:url(../image/btn_lock.png); background-repeat:no-repeat; background-position:15px center;}
.btnUser {background-image:url(../image/btn_user.png); background-repeat:no-repeat; background-position:15px center;}
.btnLeave {background-image:url(../image/btn_user.png); background-repeat:no-repeat; background-position:15px center;}
.btnPinfo  {background-image:url(../image/btn_pinfo.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnYear {background-image:url(../image/btn_year.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnMonth {background-image:url(../image/btn_month.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnDay {background-image:url(../image/btn_day.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnXls {background-image:url(../image/btn_xls.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px; line-height:28px; height:36px;}
.btnDetail {border:solid 1px #aaa; background-color:#f5f5f5; padding:2px 10px; float:right; display:inline-block; line-height:1.5em; line-height:1.5em; margin-right:20px}
.btn_cat {display:inline-block; height:30px; vertical-align:top; margin-left:10px;}

.icon {display:inline-block; position:relative; padding-right:56px} /* 190424 */
.iconReply {position:absolute; right:-4px; top:50%; height:20px; margin-top:-10px} /* 190424 */

.boxStateBlue {padding:4px 10px; height:28px; border:solid 1px #aaa; font-weight:600; text-align:center; color:#03f; background-color:#f5f5f5; border-radius:3px; line-height:1.0em; display:inline-block;}
.boxStateRed {padding:4px 10px; height:28px; border:solid 1px #aaa; font-weight:600; text-align:center; color:#f30; background-color:#f5f5f5; border-radius:3px; line-height:1.0em; display:inline-block;}


/* width  */

.lengthXXXL {width:600px;}
.lengthXXL {width:500px;}
.lengthXL {width:400px;}
.lengthL {width:300px;}
.lengthM {width:200px;}
.lengthXM {width:150px;}
.lengthSM {width:125px;}
.lengthS {width:100px;}
.lengthSS {width:75px;}
.lengthXS {width:50px;}

.width30 {width:30px;} .width50 {width:50px;} .width100 {width:100px;} .width150 {width:150px;} .width200 {width:200px;} .width250 {width:250px;} .width300 {width:300px;} .width350 {width:350px;} .width400 {width:400px;} .width450 {width:450px;} .width500 {width:500px;}
.width110 {width:110px;} .width120 {width:120px;} .width130 {width:130px;} .width140 {width:140px;}

.itemW10 {width:10%;} .itemW13 {width:13%;}  .itemW15 {width:15%;} .itemW20 {width:20%;} .itemW25 {width:25%;} .itemW30 {width:30%;} .itemW33 {width:33.3333%;} .itemW35 {width:35%;} .itemW40 {width:40%;} .itemW45 {width:45%;} .itemW50 {width:50%;} .itemW100 {width:100%;}

.pad5 {padding:5px;}
.pad10 {padding:5px 10px; display:inline-block;  }
.padTop1 {padding-top:1px;} .padTop2 {padding-top:2px;} .padTop3 {padding-top:3px;} .padTop4 {padding-top:4px;} .padTop5 {padding-top:5px;}

.div {padding:0 5px; color:#aaa; font-weight:100;}
.iconRock {background-image:url(../image/icon_lock2.png); background-repeat:no-repeat; background-position: 0px 2px;padding:10px 20px; margin:0;}

.inputBox {padding:2px 5px 2px 5px; font-size:14px; background-color:#ffffff; border:solid 1px #999; font-weight:500;  line-height:1.6em; height:30px;}
.inputBox2 {padding:2px 5px 2px 5px; font-size:14px; background-color:#ffffff; border:solid 1px #999; font-weight:500;  line-height:1.6em; height:30px;}
.inputBox3 {padding:2px 5px 2px 5px; font-size:14px; background-color:#ffffff; border:solid 1px #999; font-weight:500;  line-height:1.6em; height:30px;}
.inputBox4 {padding:2px 5px 2px 5px; font-size:14px; background-color:#ffffff; border:solid 1px #999; font-weight:500;  line-height:1.6em; height:30px; width:100px;}

.inputBoxChecked {background-color:#ddd; border:solid 1px #999;}

.selectBox {padding:4px 2px; font-size:14px; min-width:100px; background-color:#f5f5f5;}
.selectBoxMiddle {padding:6px 2px; font-size:14px; min-width:100px; background-color:#f5f5f5;}
.selectBoxSmall {padding:2px 4px; font-size:14px; min-width:100px; background-color:#f5f5f5;}
.buttonBox {padding:5px 10px; font-size:14px; background-color:#f5f5f5; border:solid 1px #aaa; min-width:100px;}
.buttonBoxOn {padding:5px 10px; font-size:14px; color :#fff; background-color:#f30; border:solid 1px #f10; min-width:100px;}
.textareaBox {width:100%; padding:5px 2px; font-size:14px; background-color:#ffffff; border:solid 1px #aaa; margin:10px 0px; line-height:2.0em;}
.fileBox {font-size:16px; background-color:#f9f9f9; border:solid 1px #aaa;}

.textSmall {font-size:12px;}
.textBold {font-weight:600;}

.subLeftGrp {position:absolute; left:20px; top:155px; border:solid 0px #f30; line-height:1.8em;}
.subLeftGrp span {vertical-align:top;}

.periodGrp {width:100%; height:44px; border:solid 1px #ddd; background-color:#f9f9f9; padding:5px; line-height:2.4em;}
.periodGrp span {vertical-align:top; padding:0 0px; display:inline-block;}
.periodGrp .selectBox {border:solid 1px #aaa; padding:4px; background-color:#fff;}
.periodGrp .selectGrp {float:right;}
.periodGrp .btnPeriod {display:inline-block; padding:5px 0 0 0; }
.periodGrp .buttons {line-height:2.9em; height:40px;}
.periodGrp .rsvGrp .itemName {padding:0px 5px;}
.periodGrp .rsvGrp .buttons {padding:0px 5px; display:inline-block; margin-top:0;}
.periodGrp .rsvGrp .inputArea {padding:0px 5px;}

.selectPeriodGrp {width:100%; height:50px; border:solid 1px #ddd; background-color:#f9f9f9; padding:10px;}
.selectPeriodGrp span {v padding:0 5px;}
.selectPeriodGrp .selectBox {border:solid 1px #aaa; padding:4px; background-color:#fff;}
.selectPeriodGrp .selectGrp {float:right;}
.selectPeriodGrp .btnPeriod {line-height:2.4em; display:inline-block;}
.selectPeriodGrp .itemPeriod {line-height:1.8em; display:inline-block;}

.tabPeriodGrp {height:36px; margin:0 0 0px 0; font-size:14px; float:right; padding:0;}
.tabPeriodGrp .tabPeriod {float:right; padding: 1px 0 0 0 ; margin:0;  line-height:1.8em;}
.tabPeriodGrp .tabPeriod .tabBtn {width:100px; border:solid 1px #aaa;  background-color:#ddd; padding:1px 10px 2px 10px; text-align:center; float:left; margin-right:5px; }
.tabPeriodGrp .tabPeriod .tabBtnOn {width:100px;  border:solid 1px #aaa; font-weight:600; color:#111; background-color:#fff; padding:1px 10px 2px 10px;  text-align:center; float:left; margin-right:5px;}
.tabPeriodGrp .tabPeriod .tabBtnEnd {margin-right:0;}

.tabButtonGrp {width:100%; height:32px; border-bottom:solid 1px #ddd; margin:80px 0; font-size:14px;}
.tabButtonGrp .tabButton {float:right; border:solid 0px #f30;}
.tabButtonGrp .tabButton .tabBtn {width:100px; border:solid 1px #ddd;  border-bottom:0; background-color:#ddd; padding:1px 10px 2px 10px;  text-align:center; float:left; margin-right:10px;}
.tabButtonGrp .tabButton .tabBtnOn {width:100px;  border:solid 1px #f00; color:#fff; border-bottom:0; background-color:#f30; padding:1px 10px 2px 10px;  text-align:center; float:left; margin-right:10px;}

.tabBtnGrp {height:36px; margin:0 0 0px 0; font-size:14px; float:right;}
.tabBtnGrp .tabBtn {float:right; border:solid 0px #f30;}
.tabBtnGrp .tabBtn .tabBtn {width:100px; border:solid 1px #aaa;  background-color:#ddd; padding:1px 10px 2px 10px;  text-align:center; float:left; margin-right:10px;}
.tabBtnGrp .tabBtn .tabBtnOn {width:100px;  border:solid 1px #aaa; font-weight:600; color:#111; background-color:#fff; padding:1px 10px 2px 10px;  text-align:center; float:left; margin-right:10px;}
.tabBtnGrp .tabBtn .tabBtnEnd {margin-right:0;}


.graphGrp {width:100%; min-height:200px; border:solid 1px #aaa; margin-right:20px;}

.graphTitle {font-size:18px; font-weight:600; padding:20px 0 10px 0;}
.graph {padding:20px; border:solid 1px #ddd; min-height:300px;}

.cateGrp {width:100%; margin-bottom:00px; overflow:hidden; position:relative; top:-30px; left:0px; border:solid 1px #ddd; background-color:#fefefe; border-radius:5px; padding:10px;}
.cateGrp .category {width:300px; float:left; margin-right:20px; padding-left:0px;}
.cateGrp .categoryName {width:100px; float:left; margin-right:20px; padding-left:0px; line-height:80px;}
.cateGrp .category .selectBox {width:260px; line-height:2.6em;}
.cateGrp .category .selectBox option  {line-height:5.0em; padding:5px; border-bottom:solid 1px #eee; font-size:12px;}

.txtRed {color:#f30;}
.txtBlue {color:#09f;}
.textGray {color:#999;}
.txtBlueGreen {color:#00c0aa;}
.txtNormal {font-weight:normal;}


.borderTopZero {border-top:0;  !important;}
.borderRightZero {border-right:0; !important;}
.borderBottomZero {border-bottom:0; !important;}
.borderLeftZero {border-left:0; !important;}

.lineBottom {border-bottom:solid 1px #eee !important;}
.lineWhiteBottom {border-bottom:solid 1px #aaa;}
.lineWhiteRight {border-right:solid 1px #aaa;}

.txtLeft {text-align:left !important;}
.txtRight {text-align:right !important;}
.txtCenter {text-align:center !important;}

.selectGroup {padding:10px; border:solid 1px #ddd; border-radius:5px; background-color:#f5f5f5; margin-bottom:30px;}
.selectGroup label {width:150px; display:inline-block;}
.selectGroup li {line-height:2.6em; padding-left:10px;}

.btnHelp {width:25px; height:25px; font-weight:600; color:#f00; background-color:#fff4f4; cursor:pointer; border:solid 1px #f30; border-radius:50px; display:inline-block; text-align:center;}
.bgWhite {background-color:#fff !important; }
.bgBrWhite {background-color:#f5f5f5 !important;}

.ticketTitle {padding:5px 20px; border:solid 1px #aaa; position:absolute; left:0px; top:153px; z-index:2000; border-radius:2px; background-color:#dee8fa; font-weight:600; font-size:16px;}


/* Frame */

html {width:100%; height:100%;}
body {width:100%; height:100%; min-width:1024px; background-color:#fff; }
#wrapper {width:100%; min-width:1200px; height:100%; overflow:hidden; background-image:url(../image/left_menu_bg.gif); background-position:-21px 0; background-color:#fff; background-repeat:repeat-y;} /* 190422 */

#top {width:100%; overflow:hidden; height:70px; background-color:#f0f0f0; min-width:1024px;}
#top .topGrp {width:100%; border-top:solid 0px #fe0f0f; border-bottom:solid 1px #ddd !important; height:70px;}
#top .topGrp .logo {width:230px; padding:13px 18px 0px 20px; font-size:18px; font-weight:700; float:left;}
#top .topGrpLogin {border-bottom:solid 1px #aaa; height:80px; box-shadow:0 0 5px #ddd;}

#top .topGrp .gm {float:left; padding:12px 0 0 100px;}
#top .topGrp .gm li {float:left; font-size:13px; padding:11px 0px; margin-right:50px;}
#top .topGrp .gm .redOn {border-bottom:solid 5px #5cc9f3;}

#top .menuGrp {clear:both; width:100%; overflow:hidden; background-color:#fff; color:#101010; font-weight:600;  font-size:13px; border-top:solid 1px #eee; border-bottom:solid 1px #ddd;}
#top .menuGrp ul {margin-left:400px;}
#top .menuGrp li {float:left; padding:0px 20px; border-right:solid 1px #e5e5e5; margin:10px 0; line-height:1.0em;}

#middle {width:100%; height:100%; display: flex;}

.boxRound {padding:0; min-height:80px; position:relative; width:100%;}
.roundHgt {min-height:600px;}

.box {padding:5px 10px; border:solid 1px #aaa; border-radius:3px; background-color:#ffffff;}

.loginMid {background-color:#fff; padding-top:100px; min-height:100px;}

.boxRoundSolid {border:solid 1px #aaa; background-color:#f5f5f5; padding:5px 20px; border-radius:3px;}
.boxRoundSolid .leftItem {width:200px; padding-left:20px; background-color:#ddd;}


/* login */

.loginTop {background-color:#fff;}
.loginTop .topTitle {font-size:28px; font-weight:600; padding:20px 50px 0 0; float:right;}
#loginMiddle {width:100%; border:solid 0px #03f; height: -webkit-calc(100% - 120px); height: -moz-calc(100% - 120px); height: calc(100% - 120px); min-height:700px; padding-top:7%; background-color:#fafafa;}
#loginMiddle .loginGrp {width:400px; height:420px; margin:0 auto;}
#loginMiddle .loginGrp h1 {font-size:36px; font-weight:600; letter-spacing:-1px; line-height:30px; padding-bottom:20px;}

#loginMiddle .loginBox {border:solid 1px #ccc; background-color:#f5f5f5; padding:20px 5px; border-radius:3px;}
#loginMiddle .loginGrp .tabUserOn {background-image:url(../image/icon_user_on.png); background-color:#fff; border:solid 1px #333; color:#333; border-bottom:solid 1px #ddd; border-radius:3px;}
#loginMiddle .loginGrp .tabUserOff {background-image:url(../image/icon_user_off.png); background-color:#e1e1e1; border:solid 1px #ddd; color:#aaa;border-bottom:solid 1px #333; border-radius:3px;}
#loginMiddle .loginGrp .tabManagerOn {background-image:url(../image/icon_manager_on.png); background-color:#fff; border:solid 1px #333; color:#333; border-bottom:solid 1px #ddd; border-radius:3px;}
#loginMiddle .loginGrp .tabManagerOff {background-image:url(../image/icon_manager_off.png); background-color:#e1e1e1; color:#aaa; border-top:solid 1px #ddd;  border-left:0; border-right:0; border-bottom:solid 1px #333; border-radius:3px;}

#loginMiddle .loginGrp .inputID {clear:both; padding:10px; padding-top:0px;}
#loginMiddle .loginGrp .inputID input {width:100%; padding:10px; font-size:14px; border:solid 1px #ddd; background-color:#fff; font-weight:600; border-radius:3px; line-height:1.6em; height:42px;}
#loginMiddle .loginGrp .inputPW {clear:both; padding:10px; padding-top:0px;}
#loginMiddle .loginGrp .inputPW input {width:100%; padding:10px; font-size:14px; border:solid 1px #ddd; background-color:#fff; font-weight:600; border-radius:3px; line-height:1.6em; height:42px;}
#loginMiddle .loginGrp .btnLogin {clear:both; padding:10px; margin-top:0px;}
#loginMiddle .loginGrp .btnLogin input {width:100%; height:54px !important; font-size:22px; font-weight:600; letter-spacing:-2px; border:0; background-color:#0064b4; color:#fff; padding:0 0 4px 0; border-radius:3px;  cursor:pointer;  line-he ight:1.0em; height:50px;}
#loginMiddle .loginBtnGrp {padding:20px 0; padding-bottom:50px; font-size:14px; position:relative;}
#loginMiddle .loginBtnGrp .chkbox {position:absolute; left:0px; top:32px;}
#loginMiddle .loginBtnGrp label {position:absolute; left:24px; top:28px; line-height:1.8em;}
#loginMiddle .loginBtnGrp .regID {float:right; padding:10px 20px; background-color:#f5f5f5; border:solid 1px #aaa; font-size:14px; border-radius:3px;}
#loginMiddle .findPW {font-size:14px; padding-left:5px;}
#loginMiddle .div {font-color:#999;}


/* otp */

.otpLoginGrp {width:400px;  margin:0 auto;}
.otpGrp {width:100%; height:100%; border:solid 1px #aaa; background-color:#f5f5f5; padding:20px; border-radius:3px;}
.otpGrp .guide { font-size:12px; font-weight:500; padding:10px 0;   line-height:1.4em; margin-bottom:10px;}
.otpGrp .guide  a {color:#333;}
.otpGrp .otpNumberGrp {overflow:hidden;}
.otpGrp .otpNumber {width:63%; padding:4px 10px; border:solid 1px #999; font-size:16px; font-weight:600; text-align:center; float:left;  line-height:1.6em; height:42px;}
.otpGrp .otpBtn {width:35%; text-align:center; color:#fff; font-size:16px; font-weight:600; padding:5px; background-color:#0064b4;  cursor:pointer; border-radius:3px; float:right; border:0;}
.otpGrp .otpCancelGrp {width:100%; overflow:hidden; text-align:right;}
.otpGrp .otpNumberRequest  {width:100%; text-align:center; margin-top:15px;}
.otpGrp .otpCount  {width:100%; margin-top:10px; font-size:12px; line-height:2.6em; color:#333;}
.otpGrp .otpCancel {width:120px; margin:0 auto; background-color:#fff;border:solid 1px #aaa; color:#101010; font-weight:600; padding:2px 10px; text-align:center; font-size:14px; border-radius:3px; margin-top:20px;  cursor:pointer;}
.otpGrp .optNumberReauestAgain {font-size:12px; line-height:2.6em; float:right;}


/* join member */

#joinMember {width:800px; height:600px; border:solid 1px #aaa; padding:20px; position:absolute; left: -webkit-calc(50% - 400px); left: -moz-calc(50% - 400px); left: calc(50% - 400px); top:160px; z-index:10000; background-color:#fafafa; box-shadow:0px 10px 20px #ddd; font-size:14px; overflow-y:auto;}
#joinMember .joinTitle {font-size:24px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; border-bottom:solid 1px #999; line-height:2.0em; padding-bottom:10px;}
#joinMember .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#joinMember .joinForm {font-size:14px; color:#777;  position:relative;}
#joinMember .joinForm li {padding:10px; font-size:14px; border-bottom:solid 1px #ddd;}
#joinMember .joinForm .item {width:150px; display:inline-block; color:#333;}
#joinMember .joinForm .joinInput {padding:7px 10px; font-size:14px; color:#333;}
#joinMember .joinRadio1 {position:absolute; left:120px; top:15px;}
#joinMember .joinRadio2 {position:absolute; left:320px; top:15px;}
#joinMember .item10 {position:absolute; left:140px;}
#joinMember .item11 {position:absolute; left:340px;}
#joinMember .joinForm .btnGrpJoin {margin:0 auto; padding-left:150px; height:100px;}


/* find member */

#findMember {width:600px; height:300px; overflow:hidden; border:solid 1px #aaa; padding:20px; position:absolute; left: -webkit-calc(50% - 300px); left: -moz-calc(50% - 300px); left: calc(50% - 300px); top:250px; z-index:10000; background-color:#fafafa; box-shadow:0px 10px 20px #ddd; font-size:14px;}
#findMember .findTitle {font-size:24px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; border-bottom:solid 1px #999; line-height:2.0em; padding-bottom:10px;}
#findMember .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#findMember .findForm {font-size:14px; color:#777;  position:relative;}
#findMember .findForm li {padding:10px; font-size:14px; border-bottom:solid 1px #ddd;}
#findMember .findForm .item {width:150px; display:inline-block; color:#333;}
#findMember .findForm .joinInput {padding:5px 10px; font-size:14px; color:#333; line-height:1.6em; height:34px;}
#findMember .findForm select {padding:5px; margin:0; background-color:#f5f5f5;}
#findMember .findForm .btnGrpJoin {margin:0 auto; padding-left:160px; padding-top:20px;}

#contents {width:100%; /* min-width:1200px; */ position:relative; /*padding-right:40px;*/ min-height:840px;} /* 190424 */


/* 화면 스크롤 */

#mainContents {width:100%; min-height:500px;}
#excelForm{display:none;}

/* Bottom */

#bottom {clear:both; margin-top:00px; border-top:solid 1px #ccc;  height:50px; font-size:12px; letter-spacing:0; padding:10px 0 0 0; font-weight:500; color:#999; line-height:1.4em; background-color:#fff; text-align:center;}
#bottom .terms {width:200px; float:left; text-align:left;}
#bottom .terms span {display:inline-block; padding:0 5px;}
#bottom .terms a {color:#999;}
#bottom .copyright {width:360px; float:right; text-align:right;}

/* popup Terms */

.popupTerms {width:900px; height:600px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff;  right:100px; top:100px; position:absolute; z-index:3010; /* display:none; */}
.popupTerms .conTitleGrp {height:70px; }
.popupTerms .conTitleGrp .text {padding-top:20px; font-size:14px;}
.popupTerms .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px; border-bottom:solid 3px #333; height:40px;}
.popupTerms .content .contentsText {border:solid 1px #ddd; height:420px; padding:10px; overflow-y:auto;}


/* popup Privacy */

.popupPrivacy {width:900px; height:600px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff;  left:100px; top:100px; position:absolute; z-index:3010; /* display:none; */}
.popupPrivacy .conTitleGrp {height:70px; }
.popupPrivacy .conTitleGrp .text {padding-top:20px; font-size:14px;}
.popupPrivacy .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px; border-bottom:solid 3px #333; height:40px;}
.popupPrivacy .content .contentsText {border:solid 1px #ddd; height:420px; padding:10px; overflow-y:auto;}


.txtRed {color:#ff3c00;}

.title {font-size:18px; font-weight:600; letter-spacing:0px;}

.line-height10 {line-height:1.0em;}
.line-height20 {line-height:2.0em;}
.line-height30 {line-height:3.0em;}


/* left Group */

#leftGrp {width:200px; height:100%; float:left; overflow:hidden; background-color:#363a41;}
#leftGrp a {color:#fff;}
#leftGrp .logo {text-align:center; padding:30px 0 0 0; height:80px;}
#leftGrp .leftMenuGrp {border-top:solid 0px #ddd;}
#leftGrp .leftMenu {font-size:15px; font-weight:600; letter-spacing:-1px; line-height:3.2em; background-repeat:no-repeat; background-image:url(../image/left_icon.gif); background-repeat:no-repeat; background-position:5px center; padding-left:40px; /* width:181px*/} /* 190422 */
#leftGrp .leftMenuOn {color:#fff; background-color:#628bd3;}
#leftGrp .leftIconUser {background-image:url(../image/left_icon_user.png);}
#leftGrp .leftIconUserMan {background-image:url(../image/left_icon_userman.png);}
#leftGrp .leftIconContent {background-image:url(../image/left_icon_content.png);}
#leftGrp .leftIconStats {background-image:url(../image/left_icon_stats.png);}
#leftGrp .leftIconCat {background-image:url(../image/left_icon_cat.png);}
#leftGrp .leftIconNotice {background-image:url(../image/left_icon_notice.png);}
#leftGrp .leftIconFaq {background-image:url(../image/left_icon_faq.png);}
#leftGrp .leftIconQna {background-image:url(../image/left_icon_qna.png);}
#leftGrp .leftIconJoin {background-image:url(../image/left_icon_join.png);}
#leftGrp .leftIconCustom {background-image:url(../image/left_icon_custom.png);}
#leftGrp .leftIconMember {background-image:url(../image/left_icon_member.png);}
#leftGrp .leftIconStore {background-image:url(../image/left_icon_store.png);}
#leftGrp .leftIconDash {background-image:url(../image/left_icon_dash.png);}
#leftGrp .leftIconMaco {background-image:url(../image/left_icon_maco.png);}
#leftGrp .leftIconServer {background-image:url(../image/left_icon_server.png);}
#leftGrp .leftIconOnline {background-image:url(../image/left_icon_online.png);} /* 190425 */

#leftGrp .leftSubMenu {font-size:14px; color:#000; font-weight:500; letter-spacing:-1px; line-height:2.6em; background-color:#fff; border-bottom:solid 1px #f5f5f5; background-repeat:no-repeat; background-image:url(../image/left_icon.gif); background-repeat:no-repeat; background-position:20px center; padding-left:35px;}
#leftGrp .leftSubMenu a {color:#333;}
#leftGrp .leftSubMenuOn {background-color:#d6eafb; color:#333; background-image:url(../image/left_icon.gif) !important; background-repeat:no-repeat; background-position:20px center; padding-left:35px;}
#leftGrp .leftSubMenuOn a {color:#000; font-weight:600;}


/* left login user */

#leftGrp .loginUserGrp {overflow:hidden; color:#fff; background-color:#666d79; margin:15px 5px 20px 5px; border-radius:3px; letter-spacing:-.5px; line-height:1.6em; padding:5px 5px 5px 10px;}
#leftGrp .loginUser { font-size:12px; font-weight:600; padding-top: 2px; float:left;}
#leftGrp .loginUser a {color:#fff;}
#leftGrp .loginUser .loginUserName {display:inline-block; line-height:1.0em; vertical-align:top; padding-top:3px;}
#leftGrp .loginUserLogout {text-align:center;  float:right; vertical-align:top;}
#leftGrp .loginUserLogout .btnLogout {padding:0px 10px; background-color:#fff; font-size:11px; border-radius:2px; color:#ededed; background-color:#474c54; border:0;}


/* right Group */

#rightGrp {float:left; width: -webkit-calc(100% - 200px); width: -moz-calc(100% - 200px); width: calc(100% - 200px); height:100%; border:solid 0px #f30; padding:40px 40px 0; overflow-y:auto; position:relative; } /* 190423 */


/* user Group */

#rightGrp .userGrp {padding:1px 15px; margin:0px; margin-top:16px; position:absolute; top:5px; right:20px;}
#rightGrp .userGrp li {float:left; border:solid 1px #aaa; margin-right:5px; padding: 3px 10px;}
#rightGrp .userGrp .userName {background-image:url(../image/icon_us.gif); background-repeat:no-repeat; background-position:5px center; padding-left:25px; font-size:13px !important; font-weight:600; background-color:#fff;}
#rightGrp .userGrp .userLog {background-image:url(../image/icon_logout.gif); background-repeat:no-repeat; background-position:5px center; padding-left:25px; font-size:13px !important; font-weight:600; background-color:#fff;}


/* locate */

#locateGrp .locate {font-size:12px; color:#777; width:100%;  margin-top:20px; border-bottom:solid 1px #ddd; overflow:hidden; padding:2px 0; margin-bottom:20px;  display:none}
#locateGrp .locate .iconHome {background-image:url(../image/icon_home.gif); background-repeat:no-repeat; background-position:0px center; width:30px;}
#locateGrp .locate li {float:left; padding:5px 0px;}


/* tab */

#tabGrp {width:100%; height:40px; border-bottom:solid 1px #999; font-size:18px; letter-spacing:-1px; margin-bottom:20px; color:#333;}
#tabGrp .tab {padding:5px 10px; height:40px; border:solid 1px #999; border-right:0; text-align:center; color:#777; background-color:#f5f5f5; float:left; min-width:100px;}
#tabGrp .tabEnd {border:solid 1px #999;}
#tabGrp .tabOn {color:#111; font-weight:600; font-size:18px; background-color:#fff;}


/* titleAreaGrp */

.titleAreaGrp {width:100%; height:40px; left:0px; position:absolute; top:57px;}
.titleAreaGrp .areaLeft {float:left;}
.titleAreaGrp .areaRight {float:right;}


/* content */

#contents .conTitleGrp {width:100%; height:47px; margin-bottom:50px; border-bottom:solid 1px #aaa;}
#contents .conTitleGrp .conTitle {display:inline-block; padding:5px 30px; font-size:18px; height:47px; line-height:36px; font-weight:600; letter-spacing:-1px; border:solid 1px #aaa; border-radius:5px 5px 0 0;}
#contents .conTitleGrp .subject {font-size:18px; font-weight:700; line-height:1.8em;}
#contents .conTitleGrp .content {padding:20px 0;}
#contents .conTitleGrp .tabOn {float:left; margin:0; background-color:#fff; border-right:0; color:#101010;}
#contents .conTitleGrp .tabOff {float:left; margin:0; background-color:#eee; border-right:0;}
#contents .conTitleGrp .tabOff a {color:#555; font-weight:500; line-height:1.6em;}
#contents .conTitleGrp .tabEnd {border-right:solid 1px #aaa;}

#mainContents .conTitleGrp {width:100%; height:70px; margin-bottom:20px; background-image:url(../image/dot.gif); background-repeat:repeat-x; background-position:0 bottom;}
#mainContents .conTitleGrp .conTitle {font-size:30px; font-weight:400; line-height:2.0em; letter-spacing:-2px;}
#mainContents .conTitleGrp .subject {font-size:18px; font-weight:700; line-height:1.8em;}
#mainContents .conTitleGrp .content {padding:20px 0;}


/* operate */

#contents .statsTodayGrp {width:100%; border-top:solid 1px #ddd; overflow:hidden; padding-top:20px; background-color:#fff;}
#contents .statsTodayGrp .statsToday {width:230px; float:left; margin-right:50px;}
#contents .statsTodayGrp .statsToday .statsTitle {border:solid 1px #aaa; text-align:center; background-color:#f5f5f5;}
#contents .statsTodayGrp .statsToday .item {clear:both; width:100px; line-height:2.0em; display:inline-block;  float:left; text-align:center; border-left:solid 1px #aaa; border-bottom:solid 1px #aaa; }
#contents .statsTodayGrp .statsToday .num {width:100px; line-height:2.0em; display:inline-block;  float:left; text-align:center;  border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; }

#contents .statsTodayGrp .todayGraphGrp {width:600px; height:300px;/* 그래프의 크기에 따라 조정하세요  */; float:left;}
#contents .statsTodayGrp .todayGraphGrp .statsTitle {width:200px; border:solid 1px #aaa; text-align:center; background-color:#f5f5f5;}
#contents .statsTodayGrp .todayGraphGrp .statsTodayGraph {width:100%; margin-top:20px;}

#contents .statsTicketGrp {width:100%; border-top:solid 1px #ddd; overflow:hidden; padding-top:20px; background-color:#fff; margin-top:20px;}
#contents .statsTicketGrp .statsTicket {width:230px; float:left; margin-right:50px;}
#contents .statsTicketGrp .statsTicket .statsTitle {border:solid 1px #aaa; text-align:center; background-color:#f5f5f5;}
#contents .statsTicketGrp .statsTicket .item {clear:both; width:100px; line-height:2.0em; display:inline-block;  float:left; text-align:center; border-left:solid 1px #aaa; border-bottom:solid 1px #aaa; }
#contents .statsTicketGrp .statsTicket .num {width:100px; line-height:2.0em; display:inline-block;  float:left; text-align:center;  border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; }

#contents .statsTicketGrp .ticketGraphGrp {width:600px; height:300px;/* 그래프의 크기에 따라 조정하세요  */; float:left;}
#contents .statsTicketGrp .ticketGraphGrp .statsTitle {width:200px; border:solid 1px #aaa; text-align:center; background-color:#f5f5f5;}
#contents .statsTicketGrp .ticketGraphGrp .statsTicektGraph {width:100%; margin-top:20px;}

#contents .statsTicketTable {width:100%; text-align:center; border:solid 1px #aaa; border-top:0; font-size:14px; }
#contents .statsTicketTable tr {border-bottom:solid 1px #aaa;}
#contents .statsTicketTable th {width:80%; line-height:1.2em; min-height:50px; padding:10px 2px;}
#contents .statsTicketTable td {width:20%; font-size:14px;  line-height:1.2em; padding:10px 2px;}

#contents .boxGrp {float:left; width:298px; border:solid 1px #859cc4; border-radius:10px 10px 0 0;}
#contents .marginRB {margin:20px 15px 30px 15px;}


/* device box */

.deviceBox {float:left; width:400px; height:400px; background-repeat:no-repeat; margin:10px 5px; padding:00px; }
.deviceBoxHado {background-image:url(../image/device_bg_hado.png);}
.deviceBoxAttration {background-image:url(../image/device_bg_attration.png);}
.deviceBoxVRRoom {background-image:url(../image/device_bg_vrroom.png);}
.deviceBoxFPS {background-image:url(../image/device_bg_fps.png);}

.deviceBox .boxHead { border-bottom:solid 1px #999; /* background-color:#e8eff9; */ padding:20px 20px; text-align:center; font-weight:600; line-height:2.0em; height:100px;}
.deviceBox .boxHead .boxHeadTitle {color:#333; font-size:16px; text-align:left;}
.deviceBox .boxHead .boxHeadDevice {color:#101010; font-size:24px;  text-align:left;}
.deviceBox .boxBody {padding:10px; line-height:1.1em; color:#101010; font-size:16px; font-weight:500;}
.deviceBox .boxBody li {padding:2px 5px;}
.deviceBox .boxBody .item1 {width:100%; display:inline-block; font-weight:600; font-size:16px; text-align:center;}
.deviceBox .boxBody .item2 {width:100%;  padding:5px 0; display:inline-block; font-weight:500; font-size:12px;text-align:center; letter-spacing:0px; border:solid 1px #ddd; background-color:#f5f5f5; border-radius:3px;}
.deviceBox .boxBody .dcontent {width:100%; margin-top:10px; text-align:center; border:solid 0px #f30; display:block; font-size:14px; font-weight:600;}
.deviceBox .boxBody .des {padding-left:10px; display:inline-block;}

.deviceBoxlistGrp {font-size:14px !important; font-weight:500 !important; color:#111;}
.deviceBoxlistGrp td {background-color:#f9f9f9 !important;}

.deviceBox .boxline { border-bottom:solid 1px #ddd;}
.deviceBoxHadoNo {background-image:url(../image/device_bg_hado_no.png);}
.deviceBoxAttrationNo {background-image:url(../image/device_bg_attration_no.png);}
.deviceBoxVRRoomNo {background-image:url(../image/device_bg_vrroom_no.png);}
.deviceBoxFPSNo {background-image:url(../image/device_bg_fps_no.png);}

.deviceBox .boxHead .boxHeadTitleNo {color:#aaa; font-size:16px; text-align:left;}
.deviceBox .boxHead .boxHeadDeviceNo {color:#999; font-size:24px;  text-align:left;}
.deviceBox .boxBodyNo {height:150px; text-align:center; line-height:180px; color:#777; font-size:14px;}


/* device box On Off*/

.deviceBoxOn {position:relative; float:left; width:400px; height:400px; background-repeat:no-repeat; margin:10px 5px; padding:00px; border:solid 1px #ddd; border-radius:10px; background-color:#fbfbfb;}
.deviceBoxOn .boxHead { border-bottom:solid 1px #ddd; /* background-color:#e8eff9; */ padding:20px 20px; text-align:center; font-weight:600; line-height:2.0em; height:100px;}
.deviceBoxOn .boxHead .boxHeadTitle {color:#333; font-size:16px; text-align:left;}
.deviceBoxOn .boxHead .boxHeadDevice {color:#101010; font-size:24px;  text-align:left;}
.deviceBoxOn .boxHead .boxHeadIcon {width:100px; height:70px; right:10px; top:15px; border:solid 0px #f30; position:absolute;}
.deviceBoxOn .boxBody {padding:10px; line-height:1.1em; color:#101010; font-size:16px; height:298px; border-radius:0 0 10px 10px; font-weight:500; background-color:#fff;}
.deviceBoxOn .boxBody li {padding:2px 5px;}
.deviceBoxOn .boxBody .item1 {width:100%; display:inline-block; font-weight:600; font-size:16px; text-align:center;}
.deviceBoxOn .boxBody .item2 {width:100%;  padding:5px 0; display:inline-block; font-weight:500; font-size:12px;text-align:center; letter-spacing:0px; border:solid 1px #ddd; background-color:#f5f5f5; border-radius:3px;}
.deviceBoxOn .boxBody .dcontent {width:100%; margin-top:10px; text-align:center; border:solid 0px #f30; display:block; font-size:14px; font-weight:600;}
.deviceBoxOn .boxBody .des {padding-left:10px; display:inline-block;}

.deviceBoxOff {position:relative; float:left; width:400px; height:400px; background-repeat:no-repeat; margin:10px 5px; padding:00px; border:solid 1px #ddd; border-radius:10px; background-color:#fbfbfb;}
.deviceBoxOff .boxHead { border-bottom:solid 1px #ddd; /* background-color:#e8eff9; */ padding:20px 20px; text-align:center; font-weight:600; line-height:2.0em; height:100px;}
.deviceBoxOff .boxHead .boxHeadTitle {color:#333; font-size:16px; text-align:left;}
.deviceBoxOff .boxHead .boxHeadDevice {color:#101010; font-size:24px;  text-align:left;}
.deviceBoxOff .boxHead .boxHeadIcon {width:100px; height:70px; right:10px; top:15px; border:solid 0px #f30; position:absolute;}
.deviceBoxOff .boxBody {padding:10px; line-height:1.1em; color:#101010; font-size:16px; height:298px; border-radius:0 0 10px 10px; font-weight:500; background-color:#fff;}
.deviceBoxOff .boxBody li {padding:2px 5px;}
.deviceBoxOff .boxBody .item1 {width:100%; display:inline-block; font-weight:600; font-size:16px; text-align:center;}
.deviceBoxOff .boxBody .item2 {width:100%;  padding:5px 0; display:inline-block; font-weight:500; font-size:12px;text-align:center; letter-spacing:0px; border:solid 1px #ddd; background-color:#f5f5f5; border-radius:3px;}
.deviceBoxOff .boxBody .dcontent {width:100%; margin-top:10px; text-align:center; border:solid 0px #f30; display:block; font-size:14px; font-weight:600;}
.deviceBoxOff .boxBody .des {padding-left:10px; display:inline-block;}
.deviceBoxOff .boxHead .boxHeadTitleNo {color:#ddd; font-size:16px; text-align:left;}
.deviceBoxOff .boxHead .boxHeadDeviceNo {color:#ddd; font-size:24px;  text-align:left;}
.deviceBoxOff .boxBodyNo {height:400px; text-align:center; line-height:280px; color:#aaa !important; font-size:16px;}

/* notice window */

#noticeWindow {width:600px; height:400px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fafafa; left: -webkit-calc(50% - 300px); left: -moz-calc(50% - 300px); left: calc(50% -300px); top: -webkit-calc(50% - 220px); top: -moz-calc(50% - 220px); top: calc(50% - 220px); padding:10px; box-shadow:5px 5px 2px #ddd;}
#noticeWindow .noticeTitle {padding:10px 5px; font-size:22px; font-weight:600; letter-spacing:-1px; width:100%; position:relative;}
#noticeWindow .btnCloseWin {position:absolute; right:0px; top:10px; background-color:#555; width:26px; height:22px; text-align:center; border-radius:2px;}
#noticeWindow .noticeTxt {height:250px; border:solid 1px #ddd; background-color:#fff; margin-bottom:20px; margin-top:10px; padding:10px; overflow:auto;}


/* popup common window */

#popupWindow {width:600px; height:400px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fff; padding:10px; box-shadow:5px 5px 2px #ddd;}
#popupWindow . {padding:10px 5px; font-size:22px; font-weight:600; letter-spacing:-1px; width:100%; position:relative;}
#popupWindow .btnCloseWin {position:absolute; right:0px; top:10px; background-color:#555; width:26px; height:22px; line-height:22px; text-align:center; border-radius:2px;}
#popupWindow .popupTxt {height:250px; border:solid 1px #ddd; background-color:#fff; margin-bottom:20px; margin-top:10px; padding:10px; overflow:auto;}
#popupWindow .popupTxtQ {height:100px; font-size:16px; text-align:center; line-height:2.0em; font-weight:600; padding:20px;}
#popupWindow .popupTxtQ1 {font-size:16px; text-align:center; margin-bottom:10px;}
#popupWindow .popupTxtQ2 {font-size:14px; text-align:center; line-height:2.0em; border:solid 1px #eee; background-color:#fafafa; margin:10px 20px; padding:10px;}

#popupWindow .popupTitle {font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333; line-height:2.0em;}
#popupWindow .popupContent {font-size:14px; padding:10px 0;}
#popupWindow .popupContent .infoGrp {padding:10px 0; border:solid 0px #f30; overflow:hidden;}
#popupWindow .popupContent .infoGrp .infoType {float:left;}
#popupWindow .popupContent .infoGrp .infoDate {float:right;}
#popupWindow .alignCenter {width:140px; margin:0 auto;}





/* popup common window */

#popupWindow .listPostTxt {height:80px; font-size:22px; text-align:center; line-height:2.0em; font-weight:500; padding-top:20px;}
#popupWindow .inputPost {width:520px; padding:10px; margin:10px; border:solid 1px #aaa; background-color:#fff; font-size:18px; line-height:1.2em;}
#popupWindow .listPost {width:520px; border:solid 1px #ddd; font-size:14px; margin:0 auto; }
#popupWindow .listPost th {background-color:#fafafa; padding:5px; color:#333; text-align:center; border-right:solid 1px #ddd; border-bottom:solid 1px #ddd;}
#popupWindow .listPost td {background-color:#fff; padding:5px; color:#777; text-align:center; border-right:solid 1px #ddd; border-bottom:solid 1px #ddd;}
#popupWindow .listPost .postNew {display:inline-block; width:50px; text-align:center; font-size:11px; line-height:1.8em; background-color:#2163d3; color:#fff; border-radius:2px; padding-bottom:2px;}
#popupWindow .listPost .postOld {display:inline-block; width:50px; text-align:center; font-size:11px; line-height:1.8em; background-color:#d38621; color:#fff; border-radius:2px; padding-bottom:2px;}
#popupWindow .listPost .postNum {color:#ff0000;}
#popupWindow .popupTxt .inputPostGuide {font-size:18px; font-weight:500; text-align:center; height:100px; padding:50px 0;}


/* popup category window */

#popupWinSmall {width:520px; height:340px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd;  display:none}
#popupWinSmall .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#popupWinSmall .popupContent {font-size:14px; padding:0px 0; border:solid 1px #ddd; margin-top:10px;}
#popupWinSmall .popupContent li {border-bottom:solid 1px #ddd; padding:5px;}
#popupWinSmall .popupContent label {width:160px; display:inline-block;}
#popupWinSmall .btnGrp {border:solid 0px #f30; display:inline-block;}
#popupWinSmall .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}

.popupWinSmall {width:520px; height:340px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd;  display:none}
.popupWinSmall .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
.popupWinSmall .popupContent {font-size:14px; padding:0px 0; border:solid 1px #ddd; margin-top:10px;}
.popupWinSmall .popupContent li {border-bottom:solid 1px #ddd; padding:5px;}
.popupWinSmall .popupContent label {width:160px; display:inline-block;}
.popupWinSmall .btnGrp {border:solid 0px #f30; display:inline-block;}
.popupWinSmall .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}

/* popup idpw window */

#popupWinidpw {width:500px; height:320px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd; display:none;}
#popupWinidpw .popupTitle {padding:10px 5px; font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#popupWinidpw .popupContent {font-size:14px; padding:10px 0;}
#popupWinidpw .popupContent li {border-bottom:solid 0px #ddd; padding:7px;}
#popupWinidpw .popupContent label {width:160px; display:block; font-weight:600; float: left;}
#popupWinidpw .btnGrp {border:solid 0px #f30; display:inline-block;}
#popupWinidpw .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}
label + .detilBox {font-size: 12px; line-height: 1.6em; margin: 0px; width: calc(100% - 160px); display: inline-block; word-wrap: break-word;}


/* popup idpw window */

#popupWinidsm {width:500px; height:320px; border:solid 1px #999; position:absolute; z-index:5000; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd; display:none;}
#popupWinidsm .popupTitle {padding:10px 5px; font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#popupWinidsm .popupContent {font-size:14px; padding:10px 0;}
#popupWinidsm .popupContent li {border-bottom:solid 0px #ddd; padding:7px;}
#popupWinidsm .popupContent label {width:160px; display:block; font-weight:600; float: left;}
#popupWinidsm .btnGrp {border:solid 0px #f30; display:inline-block;}
#popupWinidsm .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}
label + .detilBox {font-size: 12px; line-height: 1.6em; margin: 0px; width: calc(100% - 160px); display: inline-block; word-wrap: break-word;}


/* popup window Big */

#popupWinBig {width:600px; height:700px; border:solid 1px #999; position:absolute; z-index:5010; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd; display:none;}
#popupWinBig .popupTitle {padding:10px 5px; font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#popupWinBig .popupContent {font-size:14px; padding:10px 0;}
#popupWinBig .popupContent li {border-bottom:solid 1px #ddd; padding:3px;}
#popupWinBig .popupContent label {width:160px; display:inline-block; font-weight:600; float:left;}
#popupWinBig .btnGrp {border:solid 0px #f30; display:inline-block;}
#popupWinBig .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}


/* popup window Large */

.popupWinLarge {width:800px; height:480px; top:600px; left:500px; border:solid 1px #999; position:absolute; z-index:5010; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd; /* display:none; */}
.popupWinLarge .popupTitle {padding:10px 5px; font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
.popupWinLarge .popupContent {font-size:14px; padding:0;}
.popupWinLarge .popupContent li {border-bottom:solid 1px #ddd; padding:3px;}
.popupWinLarge .popupContent label {width:160px; display:inline-block; font-weight:600; float:left;}
.popupWinLarge .btnGrp {border:solid 0px #f30; display:inline-block;}
.popupWinLarge .alignCenter {margin:0 auto; position:absolute; left:140px; bottom:30px;}


/* popupHistory */

#popupHistory {width:500px; height:340px; border:solid 1px #999; left:30%; top:30%; position:absolute; z-index:2000; background-color:#fff; padding:20px; box-shadow:0 2px 2px #aaa;}
#popupHistory .historyList {border:solid 1px #ddd; height:180px; overflow-y:auto; padding:10px; font-size:14px; text-align:left;}
#popupHistory .historyGrp ul {border-bottom :solid 1px #ddd;}
#popupHistory .historyGrp h1 {line-height:2.0em; padding-bottom:10px;}
#popupHistory .historyGrp li {border-bottom:solid 1px #ddd; line-height:2.0em;}
#popupHistory .historyGrp li span {width:200px; display:inline-block;}
#popupHistory .historyGrp .btnGroup {border:solid 0px #111;}


/* popup window usage history */

#popupWinHis {width:600px; height:525px; border:solid 1px #999; position:absolute; z-index:5020; background-color:#fff; padding:20px; box-shadow:5px 5px 2px #ddd; display:none;}
#popupWinHis .popupTitle {font-size:30px; font-weight:500; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333; line-height:1.3em;}
#popupWinHis .popupContent {font-size:14px; padding:10px 0;}
#popupWinHis .popupContent .infoGrp {padding:10px 0; border:solid 0px #f30; overflow:hidden;}
#popupWinHis .popupContent .infoGrp .infoType {float:left;}
#popupWinHis .popupContent .infoGrp .infoDate {float:right;}
#popupWinHis .alignCenter {width:140px; margin:0 auto;}

/* popup alert type common 190423 */
.popupWrap {position:fixed; top:0; left:0; right:0; bottom:0; z-index:5000; text-align:center}
.popupWrap:before {content:""; display:inline-block; width:0; height:100%; vertical-align:middle}
.popupWrap .popupSection {position:relative; display:inline-block; text-align:left; border:solid 1px #999; box-shadow:5px 5px 2px #ddd; vertical-align:middle}
.popupWrap .topClose {position:absolute; top:20px; right:10px; width:26px; height:22px; border-radius:3px; background:#555 url(../image/btn_close_small.png) 50% 50% no-repeat}
.popupWrap .popupTitle {padding:0 5px 10px; font-size:22px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333}
.popupWrap .popupContent {border:1px solid #ddd}

/* popup window preview 190423 */

.popupWrap.preView .popupSection {width:400px; height:600px; background-color:#fafafa; padding:60px 10px 0}
.popupWrap.preView .popupContent {overflow:hidden; height:450px; text-align:center; background:#eee url(../image/logo_vr.png) 50% 50% no-repeat}
.popupWrap.preView .popupContent:before {content:""; display:inline-block; width:0; height:100%; margin-left:-5px; vertical-align:middle}
.popupWrap.preView .popupContent img {max-width:100%; max-height:100%; vertical-align:middle}
.popupWrap.preView .btnGrp {float:none; height:auto; padding:25px 0; border:solid 0px #f30}


/* popup window alert 190423 */

.popupWrap.alert .popupSection {width:400px; min-height:244px; background-color:#fff; padding:20px 10px}
.popupWrap.alert .popupContent {margin-top:10px; padding:35px 0}
.popupWrap.alert .popupContent .notice {font-weight:bold; font-size:16px; text-align:center}
.popupWrap.alert .btnGrp {margin-top:23px; border:solid 0px #f30; display:inline-block;}
.popupWrap.alert .btnGrp.btnCenter {position:static; display:block}

 /* reserve */

.txtPrivacy {border:solid 1px #ddd; background-color:#f5f5f5; height:100px; overflow-y:auto; font-size:12px; line-height:1.6em; padding:5px;}
.txtReserveQuest {width:100%; display:inline-block; text-align:center; color:#004bcd; font-size:18px; font-weight:600;}


/* contents */

#contents .content {padding:0px; background-color:#fff; margin-top:20px; min-height:600px;}
#contents .content.type2 {min-height:536px}

#contents .rsvGrp {m in-width:300px; right:0px;  position:absolute; top:57px;}
#contents .rsvGrpLeft {left:0px; right:none;}
#contents .rsvGrpNoTab { /*top:50px; */}
#contents .rsvGrp .rsvTitle {float:left; font-size:22px; font-weight:600;}
#contents .rsvGrp .rsvSelect {float:right;}
#contents .rsvGrp .rsvSelect select {padding:2px 5px 2px 5px; letter-spacing:-1px; height:30px; background-color:#f5f5f5 !important; border:solid 1px #999; width:100px;}
#contents .rsvGrp .rsvSelect select.auto {width:auto}/* 190418 */

#contents .rsvGrp2 {right:350px;  position:absolute; top:57px;}
#contents .rsvGrpLeft {left:0px; right:none;}
#contents .rsvGrpNoTab { /*top:50px; */}
#contents .rsvGrp2 .rsvTitle {float:left; font-size:22px; font-weight:600;}
#contents .rsvGrp2 .rsvSelect {float:right;}
#contents .rsvGrp2 .rsvSelect select {padding:2px 5px 2px 5px; letter-spacing:-1px; height:30px; background-color:#f5f5f5; border:solid 1px #999; width:100px;}

#contents .rsvGrpLeft {min-width:300px; left:0px; position:absolute; top:57px;}
#contents .rsvGrpLeft .rsvTitle {float:left; font-size:22px; font-weight:600;}
#contents .rsvGrpLeft .rsvSelect {float:right;}
#contents .rsvGrpLeft .rsvSelect select {font-size:14px; font-weight:500; padding:2px 5px 2px 5px; letter-spacing:-1px; height:30px; background-color:#f5f5f5; border:solid 1px #999; width:100px;}
#contents .btnTimes {display:inline-block; vertical-align:top; text-align:center; }

#contents .tableReserve td {height:50px;}
#contents .reserveFinal {padding:5px; background-color:#fa6624;  color:#fff; min-width: 260px; display:inline-block; border-radius:5px;}
#contents .reserveCancel {padding:5px; background-color:#0f71e0; color:#fff; min-width: 260px; display:inline-block; border-radius:5px;}


#contents .selBox {padding:2px 3px; height:30px; font-size:14px;}
#contents .titGrp {padding:5px 0;}
#contents .tit {font-size:24px; font-weight:500; display:inline-block;}
#contents .regDate {float:right; font-size:14px; display:inline-block;}

.conTable {width:100%; border:solid 1px #aaa; font-size:14px;}
.conTable td {text-align:center; border:solid 1px #aaa; font-size:14px; padding:5px 5px; }
.conTable th {font-weight:600; background-color:#f5f5f5; text-align:center; border:solid 1px #aaa;}

#contents .content .ar1 {width:200px;}
#contents .content .ar2 {width:200px;}
#contents .content .ar4 {width:400px;}

#contents .content .boxYellow {width:50px; height:20px; background-color:#ffcc00; border:solid 1px #cc9900; margin:0 auto;}
#contents .content .boxGray {width:50px; height:20px; background-color:#eeeeee; border:solid 1px #cccccc; margin:0 auto;}
#contents .content .boxPupple {width:50px; height:20px; background-color:#9966ff; border:solid 1px #663399; margin:0 auto;}
#contents .content .boxRed {width:50px; height:20px; background-color:#ff3333; border:solid 1px #993333; margin:0 auto;}
#contents .content .boxBlue {width:50px; height:20px; background-color:#0099ff; border:solid 1px #006699; margin:0 auto;}

#contents .subTitle {line-height:2.0em; font-size:18px; font-weight:600; padding:20px 0;}
#contents .subSubTitle {line-height:2.0em; font-size:20px; font-weight:600; padding:20px 0; position:absolute; top:65px;}


/* view notice */

.notice .viewDetail {width:100%; min-height:500px; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; padding:10px; line-height:1.6em;}
.notice .noticeTitle {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.notice .noticeTitle .noticeDate {float:right; font-size:14px; letter-spacing:0;}
.notice .attatchGrp {width:100%; padding:10px; overflow:hidden; font-size:14px; background-color:#f5f5f5; line-height:25px; background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.notice .attatch {width:70px; vertical-align:middle;}
.notice .attatchFile {float:left; border:solid 0px #f30; padding-left:10px;}
.notice .attatchEnd {border-bottom:solid 1px #aaa;}


/* view FAQ */

.faq .attatchGrp {width:100%; padding:10px; overflow:hidden; font-size:14px; background-color:#f5f5f5; line-height:25px; background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.faq .attatch {width:70px; vertical-align:middle;}
.faq .attatchFile {float:left; border:solid 0px #f30; padding-left:10px;}
.faq .attatchEnd {border-bottom:solid 1px #aaa;}


/* view QnA */

.qna .attatchGrp {width:100%; padding:10px; overflow:hidden; font-size:14px; background-color:#f5f5f5; line-height:25px; background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.qna .attatch {width:70px; vertical-align:middle;}
.qna .attatchFile {float:left; border:solid 0px #f30; padding-left:10px;}
.qna .attatchEnd {border-bottom:solid 1px #aaa;}


/*  user  */

#contents .divHarf {width:50%; min-height:200px; border:solid 0px #f30; float:left;}
#contents .divPaddingLeft {padding-left:20px;}
#contents .divPaddingRight {padding-right:20px;}
#contents .divPaddingBottom {padding-Bottom:20px;}
#contents .divHarf .tableArea {min-height:300px;}
#contents  h1 {font-size:18px; font-weight:600; padding:10px 0; letter-spacing:-1px;}
#contents .w150 {width:150px;}
#contents .tableDetail {border-top:solid 2px #555 !important; border-bottom:solid 2px #ccc !important;}
#contents .tableDetail td {text-align:left; border-bottom:solid 1px #ddd; font-size:14px; padding:5px 10px;}
#contents .tableDetail th {font-weight:600; background-color:#f5f5f5; text-align:center; font-size:14px; border-bottom:solid 1px #ddd;}
#contents .tableDetail .imgPreview {overflow:auto}
#contents .tableDetail .imgPreview.banner img {min-width:200px}
#contents .tableDetail .setInpChk {position:relative; width:550px; min-height:22px; padding-right:50px} /* 190513 */
#contents .tableDetail .setInpChk .chk {position:absolute; right:0; top:0} /* 190424 */


/* recommand manage */

#harfGrp {width:100%; min-width:940px; overflow:hidden; margin:0 auto; position:relative; margin-bottom:20px; border:solid 1px #ddd; border-radius:5px; background-color:#fafafa; padding:0 20px;}
#harfGrp .divHarf {min-width:400px; position:relative;}
#harfGrp .harfLeft {float:left; width:45%; height:500px;}
#harfGrp .harfRight {float:Right; width:45%;  height:500px;}
#harfGrp .harfTitle {font-size:16px;  font-weight:600; padding:0px 0 3px 0;}
#harfGrp .harfTable {border:solid 1px #aaa; background-color:#fff;}
#harfGrp .harfTable {font-size:14px; line-height:3.0em;}
#harfGrp .harfTable ul {background-color:#f5f5f5; }
#harfGrp .harfTable li {border-bottom:solid 1px #ddd; padding:0 20px;}
#harfGrp .scrollBox {height:200px; overflow-y:auto;}
#harfGrp .height230 {height:280px;}
#harfGrp .selected {background-color:#333; color:#fff;}

#harfGrp .titleTable {width:100%;}
#harfGrp .titleTable th {background-color:#f5f5f5; border-bottom:solid 1px #ddd; font-weight:600; color:#101010; border-bottom:1px solid #999999}
#harfGrp .scrollTable {width:100%; height:300px !important; overflow-y:auto; height:400px; text-align:center;}
#harfGrp .titleTable td {border-bottom:solid 1px #ddd;}
#harfGrp .addBtns {width:52px; height:42px; position:absolute; top:47%; left: -webkit-calc(50% - 26px); left: -moz-calc(50% - 26px); left: calc(50% - 26px); }
#harfGrp .addBtns .btnLeftArrow {width:52px; height:45px;}
#harfGrp .addBtns .btnRightArrow {width:52px; height:42px;}
#harfGrp .catBtnGrp {border:solid 0px #f30; display:inline-block; position:absolute; top:12px; right:0;}
#harfGrp .updownGrp {width:56px; float:right; display:inline-block; position:absolute; top:12px; right:0;}
#harfGrp .updownGrp .padding2 {padding:0 2px; display:inline-block; }


/* jq grid */

#jqgrid {clear:both; border:solid 1px #aaa; margin:10px 0 20px 0; line-height:300px; text-align:center; font-weight:600; background-color:#f5f5f5;}


/*Code 설정 버튼*/
#codeInfoDiv .btnNormal {border: solid 1px #005e95; background-color: #0975b4; color: #fff; font-size: 13px; font-weight: 600; padding: 8px 15px 8px 35px; min-width: 89px; text-align: center; cursor: pointer; border-radius: 3px; line-height: 12px;}


/* search */

.searchBox {margin:0 auto;padding:0px 0; position:absolute; border:solid 0px #f30; left: -webkit-calc(50% - 276px); left: -moz-calc(50% - 276px); left: calc(50% - 276px);  }
.searchBox .searchGrp {width:565px; margin:0 auto; overflow:hidden;}
.searchBox .searchGrp .selectBox {float:left; vertical-align:top; padding:0; margin-top:2px;}
.searchBox .searchGrp .selectBox select {font-size:14px; height:36px; width:120px; padding:7px 5px; line-height:1.6em; background-color:#fff !important; border:solid 1px #999; }
.searchBox .searchGrp .searchInput {float:left; padding:0 10px; margin-top:2px;}

.searchBox .searchGrp .searchInput input {font-size:14px; width:300px; padding:6px 5px; background-color:#f5f5f5; border:solid 1px #999; line-height:1.6em; height:36px;}
.searchBox .searchGrp .searchBtn {float:left; margin-top:2px;}
.searchBox .searchGrp .searchBtn .btnSearch {/* height:40px; */}

.searchGrpWhite {width:100%; overflow:hidden; margin-bottom:10px;}

.contentTitle {font-size:18px; font-weight:600; line-height:1.8em;}
.contentArea {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px;}

.writeArea {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px; font-size:13px;}
.writeArea li {padding:10px 0; border-bottom:solid 1px #eee; display:flex;}
.writeArea .item {min-width:250px; display:inline-block; font-size:13px; font-weight:600; }
.writeArea .selectBox {width:300px; padding:2px; height:36px; line-height:1.0em;}
.writeArea .textarea {width:500px; padding:5px; font-size:13px;}
.writeArea .textareaLong {width:700px; padding:5px; font-size:13px;}
.writeArea .textareaInput {width:700px; height:300px; font-size:13px;}
.writeArea .textareaInput2 {width:500px; height:100px; font-size:13px;}
.writeArea .textareaShort {width:120px; padding:5px; font-size:13px;}
.writeArea .textareaMiddle {width:200px; padding:5px; font-size:13px;}
.writeArea .vTop {vertical-align:top;}
/* .writeArea input, .writeArea select,.writeArea textarea {background-color:#f9f9f9; border:solid 1px #ddd;} */
.writeArea .inputFile {border:0; background-color:#fff;}

.content .help {margin:20px 0; padding:20px; border:solid 1px #ddd; background-color:#f5f5f5; }

#modLogGrp .writeArea2 {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px;}
#modLogGrp .writeArea2 li {padding:5px 0; border-bottom:solid 1px #eee;}
#modLogGrp .writeArea2 .textarea {padding:5px; font-size:13px;}
#modLogGrp .writeArea2 .nm {width:150px; display:inline-block; font-size:13px;float:left}
#modLogGrp .writeArea2 .co {display:inline-block; font-size:13px;}
#modLogGrp .writeArea2 .pinfo {width:100%; height:100px; font-size:12px; overflow-y:auto; line-height:1.8em;}
#modLogGrp .revMsg {width:210px; padding:0; border:0;}
#modLogGrp ul {overflow:hidden; padding:0;}


/* Top Caption */

.topCaption {float:left; padding:18px 0 0} /* 190424 */
.topCaption strong {display:inline-block; line-height:36px; font-weight:bold} /* 190424 */


/* table  list */

.tableArea {/* min-height:400px; */ clear:both} /* min-height 불필요하면 삭제 */ /* 190423 */
.tableArea table {width:100%; margin-bottom:20px;}
.tableArea .tableList {border-top:solid 2px #555; font-size:14px; font-weight:500;}
.tableArea .tableList tr {height:40px;}
.tableArea .tableList th {background-color:#363a41 ;color:#fff; font-weight:600; text-align:center; border-bottom:solid 1px #999; padding:2px 0px 2px 5px; border-right:solid 1px #6a7382;}
.tableArea .tableList td {background-color:#fff; text-align:center; border-bottom:solid 1px #ddd; padding:2px 0px 2px 5px;}
.tableArea .tableList .item1 {width:10%; min-width:120px;}
.tableArea .tableList .item2 {min-width:200px;}
.tableArea .tableList .item3 {width:10%; min-width:100px;}
.tableArea .tableList .item4 {width:10%; min-width:100px;}
.tableArea .tableList .item5 {width:10%; min-width:100px;}
.tableArea .tableList .item6 {width:10%; min-width:100px;}
.tableArea .tableList tr .mouseOverList {background-color:#f5f5f5 !important;}
#gridArea #jqgridData .imgDisplay {padding-top:10px; position:relative;}
#gridArea #jqgridData .imgDisplay img {width:80px; height:50px; vertical-align:middle; margin:10px/* border-radius:5px; */}
.tableArea .tableList td strong {font-weight:bold}

.tableAreaSm {width:100%; position:relative;}
.tableAreaSm table {width:100%;}
.tableAreaSm .tableList {font-size:14px; font-weight:500; font-size:12px !important;}
.tableAreaSm .tableList tr {line-height:2.0em; }
.tableAreaSm .tableList th {background-color:#f2f2f2; font-weight:600; text-align:center; border-bottom:solid 1px #999; padding:2px 0px 2px 5px;}
.tableAreaSm .tableList td {text-align:center; border-bottom:solid 1px #ddd; padding:2px 0px 2px 5px;}
.tableAreaSm .scrollFix {position:absolute; top:0; left:0;}
.tableAreaSm .borderLine {border:solid 1px #ddd !important;}

.importantList {background-color:#ffdecf !important; border-bottom:solid 1px #966955 !important; color:#101010; font-weight:600;}

/* balloon comment */

.balloonGrp {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; position: absolute; left: 353px; top: 155px; white-space: normal;  z-index: 9999999; display:block; background-size:100%;}
.balloon {font-size: 11px; line-height: 1.4em; color: #555; background-image: url(../image/bg_balloon_bottom.png); background-repeat: no-repeat; background-position: 0 bottom; padding: 7px 7px 7px 30px; max-height: 480px; text-align: left; background-size: 100%}

.balloonGrp2 {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; position: absolute; left: 100px; top: 25px; white-space: normal;  z-index: 9998; display:block; background-size:100%;}
.balloon2 {font-size: 11px; line-height: 1.4em; color: #555; background-image: url(../image/bg_balloon_bottom.png); background-repeat: no-repeat; background-position: 0 bottom; padding: 7px 7px 7px 30px; max-height: 480px; text-align: left; background-size: 100%}

.balloonGrp3 {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; position:absolute; left:100px; top: 25px; white-space: normal;  z-index: 9998; display:block; background-size:100%;}
.balloon3 {font-size: 11px; line-height: 1.4em; color: #555; background-image: url(../image/bg_balloon_bottom.png); background-repeat: no-repeat; background-position: 0 bottom; padding: 7px 7px 7px 30px; max-height: 480px; text-align: left; background-size: 100%}

.balloonGrp4 {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon2_top.png); background-repeat: no-repeat; position:absolute; left:-150px; top:45px; white-space: normal;  z-index: 9998; display:block; background-size:100%;}
.balloon4 {font-size: 11px; line-height: 1.4em; color: #555; background-image: url(../image/bg_balloon2_bottom.png); background-repeat: no-repeat; background-position: 0 bottom; padding: 32px 10px 10px 10px; max-height: 480px; text-align: left; background-size: 100%}

.deviceBallon {padding:10px 0 5px 0;}

.tableArea .itemW10 {width:10%; min-width:100px;}
.tableArea .itemW20 {width:20%; min-width:100px;}
.tableArea .itemW30 {width:30%; min-width:100px;}
.tableArea .itemW40 {width:40%; min-width:100px;}
.tableArea .itemW50 {width:50%; min-width:100px;}
.tableArea .itemW100 {width:100%; min-width:100px;}

.tableArea .ContentSelectBox {padding:0px 5px; border:solid 1px #ddd; background-color:#f5f5f5; width:100px; font-size:13px; float:left; text-align:center; margin-right:5px;}
.tableArea .ContentSelectBoxL {padding:0px 5px; border:solid 1px #ddd; background-color:#f5f5f5; width:205px; font-size:13px; float:left; text-align:center; margin-right:5px;}
.tableArea .ContentSelectBoxOn {background-color:#f30; border:solid 1px #f10; color:#fff;}

.tableArea .txtBoldRed {font-weight:600; color:#f10; padding:0; background-color:#f9ede9; width:60px; display:inline-block;}
.tableArea .txtBoldBlue {font-weight:600; color:#06f; padding:0; background-color:#e9eff9; width:60px; display:inline-block;}
.tableArea .txtBoldGray {font-weight:600; color:#999; padding:0; background-color:#f5f5f5; width:60px; display:inline-block;}

.tableArea table {width:100%; margin-bottom:0px;}
.tableArea .tableForm {table-layout:fixed; border-top:solid 2px #555 !important; font-size:14px; font-weight:500;}
.tableArea .tableForm tr {height:40px;}
.tableArea .tableForm th {background-color:#f2f2f2; font-weight:600; text-align:center; border-bottom:solid 1px #ddd;}
.tableArea .tableForm td {background-color:#fff; border-bottom:solid 1px #ddd; padding:2px 5px;}
.tableArea .tableForm .borderBox {border:solid 1px #aaa; padding:5px 10px;}
.tableArea .tableForm .borderEmpty {border:solid 1px #aaa; padding:0;}
.tableArea .tableForm .device {width:120px; display:inline-block; padding:5px;}
.tableArea .tableForm .useCnt {width:112px; display:inline-block; padding:5px;}
.tableArea .tableForm .alertCaption {color:#ff3c00}
.tableArea .tableForm .imgPreview {overflow:auto}
.tableArea .tableForm .imgPreview.banner img {min-width:200px}

.tableArea .box {border-left:solid 1px #ddd; border-right:solid 1px #ddd; padding:5px 10px; border-top:solid 2px #999;}

.PopSearchGrp {padding:10px 0;}
.PopSearchGrp .boxSearch {width:200px; height:30px;}
.PopSearchGrp .tableHeight {min-height:300px; border:solid 1px #f30;}

/* contentGrp Detail */

.contentGrp {border:solid 1px #aaa;}
.contentGrp .title {background-color:#f5f5f5; border-bottom:solid 1px #aaa; padding:10px 20px; font-size:16px;}
.contentGrp span {display:inline-block;}
.contentGrp .title .timeWrite{float:right; display:inline-block;}
.contentGrp .contents {padding:20px; font-size:14px; line-height:1.6em;}

.boxLine {padding:5px 10px; border:solid 1px #aaa; border-radius:3px; background-color:#ffffff;}


/* pageNumberGrp */

#pageNumberGrp {clear:both; width:100%; margin-bottom:20px;}
#pageNumberGrp .pageNumber {text-align:center;}
#pageNumberGrp .pageNumber span{line-height:23px; margin:0; vertical-align:top; padding:0 2px;}


/* pagenumber */

.pagenumber {width:100%; border-top:solid 2px #cccccc; margin-bottom:20px;}
.pagenumber td {background-color:#f6f6f6;}


/* contents pay */

.searchContentPayGrp {height:50px;}
.searchContentPayGrp .inputSearchTime {padding:5px; font-size:16px;}
.searchContentPayGrp .listTableConPay {border:solid 1px #f30;}
.tableArea .helpTxt {font-size:11px; padding:10px; line-height:1.6em;}


/* catagory  */

.content .halfGrp {width:100%;}
.content .halfLeft {width:50%; float:left; padding:20px 40px 0 0; position:relative; overflow:hidden;}
.content .halfRight {width:50%; float:left; padding:20px 0 0 40px; position:relative; overflow:hidden;}
.content .halfBox {border:solid 1px #ddd; height:100%; margin-top:20px; overflow-y:auto;}
.content .halfBox li {background-color:#f5f5f5; border-bottom:solid 1px #eee; line-height:2.6em; padding:2px 10px; font-size:14px;}
.content .btnCatGrp {float:right; position:absolute; top:30px; right:40px;}
.content .btnCatGrp .btnCat {width:30px; padding:2px 10px; background-color:#2d313a; font-size:13px; font-weight:500; color:#fff; border:solid 1px #101010;}
.content .date {position:absolute; top:10px; right:0;}


/* view FAQ */

.faq .faqDetail  {width:100%; min-height:300px; border-top:solid 1px #ddd; border-bottom:solid 1px #aaa; padding:10px; line-height:1.6em;}
.faq .faqTitleQsn  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.faq .faqTitleAns  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.faq .faqTitle .div {color:#ddd;}
.faq .faqDate {float:right; font-size:14px; letter-spacing:0;}
.faq .faqQuestion {background-image:url(../image/icon_question.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.faq .faqAnswer {background-image:url(../image/icon_answer.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.faq .faqDetailBox {padding:0;}
.faq .faqDetailBox textarea {width:100%; min-height:300px; padding:10px; font-size:16px; border:0; border-top:solid 1px #ddd;}


/* view QnA */

.qna .qnaDetail  {width:100%; min-height:300px; border-top:solid 1px #ddd;   border-bottom:solid 1px #ddd;   padding:10px; line-height:1.6em;}
.qna .qnaTitleQsn  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.qna .qnaTitleAns  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.qna .qnaTitle .div {color:#ddd;}
.qna .qnaDate {float:right; font-size:14px; letter-spacing:0; text-align:right; font-weight:600; display:inline-block;}
.qna .qnaQuestion {background-image:url(../image/icon_question.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.qna .qnaAnswer {background-image:url(../image/icon_answer.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
/* .qna .attatch {width:100%; height:40px; font-size:14px; background-color:#f5f5f5; line-height:36px;  background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.qna .attatchEnd {border-bottom:solid 1px #aaa; margin-bottom:50px;} */


/* system*/

.databaseGraphGrp {width:100%; height:100px; padding:0px; border:solid 1px #aaa; border-radius:3px; margin-top:20px;}
.databaseGraphGrp .graphItem {width:200px; text-align:center; background-color:#f5f5f5; line-height:40px; height:100%; padding:20px; float:left; font-size:18px; font-weight:600; border-right:solid 1px #aaa;}
.databaseGraphGrp .graphGraph {width:50%; height:90px; float:left; background-image:url(../image/graph_bg.gif); background-repeat:no-repeat; background-position:0px 0px; padding:35px 10px 5px 15px;}
.databaseGraphGrp .graphNumber {width:200px; height:100%; padding:0 0 0 30px; float:right; border-left:solid 1px #aaa; background-color:#f5f5f5; font-size:18px; color:#f00 !important; font-weight:600; line-height:90px;}


/* b2b join  2px solid #d3292c */

#b2bJoin {width:100%; border-top:solid 2px #333; font-size:16px;}
#b2bJoin .joinTitle {font-size:32px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; border-bottom:solid 1px #999; line-height:2.0em; padding-bottom:10px;}
#b2bJoin .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#b2bJoin .joinForm {color:#777;  position:relative;}
#b2bJoin .joinForm li {padding:10px; border-bottom:solid 1px #ddd;}
#b2bJoin .joinForm .item {width:150px; display:inline-block; color:#333;}
#b2bJoin .joinForm .joinInput {padding:7px 10px; font-size:14px; color:#333; border:}
#b2bJoin .joinRadio1 {position:absolute; left:120px; top:15px;}
#b2bJoin .joinRadio2 {position:absolute; left:320px; top:15px;}
#b2bJoin .item10 {position:absolute; left:140px;}
#b2bJoin .item11 {position:absolute; left:340px;}
#b2bJoin .joinForm .btnGrpJoin {margin:0 auto; padding-left:150px; height:100px;}


/* terms */

#terms {width:800px; height:700px; padding:20px; border:solid 1px #999; position:absolute; z-index:3000; box-shadow:0px 10px 10px #ddd; left: -webkit-calc(50% - 400px); left: -moz-calc(50% - 400px); left: calc(50% - 400px); top:160px; z-index:10000; background-color:#fff; box-shadow:0px 10px 20px #ddd; font-size:14px; line-height:1.6em;}
#terms .title {font-size:22px; text-align:center; font-weight:500; padding:10px;}
#terms .termsGrp {padding:5px; margin:10px 0;}
#terms .termsGrp .termsTitle {font-size:18px; font-weight:600; line-height:2.0em;}
#terms .termsGrp .termsCon textarea {width:100%; height:180px; font-size:14px; line-height:1.8em;  background-color:#fafafa; border:solid 1px #ddd; }


/* form */

#formTitleGrp {width:100%; overflow:hidden; padding:5px 0 10px 5px; margin-bottom:20px;}
#formTitleGrp .ItemOne {width:100%; height:40px; line-height:40px;}
#formTitleGrp .ItemOne .sname {width:140px; display:inline-block; float:left; padding-left:20px;}
#formTitleGrp .ItemOne .name {font-weight:600; display:inline-block; vertical-align:top; line-height:30px; border:solid 1px #f5f5f5;}
#formTitleGrp .itemTwo {width:100%; height:40px; line-height:40px;}
#formTitleGrp .itemTwo label {width:100px; display:inline-block;}
#formTitleGrp .listBox tr.checked {background-color: #ddd}



/* grid */
#gridArea {margin-bottom: 49.4px;}
#jqgridData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
span.viewIcon::after {content: ""; background-image: url(../image/icon_visiblity.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}
.tootip{position: absolute;    margin: 10px 0px 0px -14px;}
.tootip::before {line-height: 1.4em; color: #555; opacity: 0; background-image: url(../image/bg_balloon.png); background-repeat: no-repeat; background-position: 0 bottom; max-height: 480px; text-align: left; content: ""; position: absolute; left: 7.5px; top:16px; background-size: 15px 10px; width: 15px; height: 12px; z-index: 9999; background: 100;}
.tootip::after {content: attr(data-content); display: inline-block; opacity: 0; width: auto; background-size: 100%; background-repeat: no-repeat; position: absolute; padding: 5px 12px 5px 13px; min-width: 100px; font-size: 11px; transition: opacity 0.3s; max-width: 200px; min-height: 30px; word-wrap: break-word; white-space: normal; background: #f6f6f6; border:1px solid #bfbfbf; border-radius:3px; margin-left: 20px;}
.ui-state-hover .tootip::after{display: inline-block; opacity:1;}
.ui-state-hover .tootip::before{display: inline-block; opacity:1;}


.marginTB4 {margin:4px 0px}
#leftGrp .leftMenuGrp ul{width: 220px;}
.listBox tr.checked {background-color: #ddd}

.releaseScrollBox{max-height: 200px; overflow: hidden; overflow-y: scroll; border-left: solid 1px #ddd !important; border-right: solid 1px #ddd !important; border-top: solid 2px #999 !important; box-shadow: 0px 1px 1px 1px #ececec;}
.releaseScrollBox table{margin:0px}
.contsBox {padding:2px 5px 2px 5px; font-size:14px; background-color:#ffffff; border:solid 1px #999; font-weight:600; margin-right:5px; min-width:100px}

 td.pointer span.pointer {border-bottom:1px solid}


/* scroll-table */

.scroll-table {width: 100%; position: relative; padding-top: 29px; border: solid 1px #ddd !important;}
.scroll-table div.scrollField {min-height: 150px; max-height: 150px; background:white; overflow: auto; overflow-x: hidden;}
.scroll-table table {width: 100%; table-layout: fixed; border-spacing: 0; border-collapse: collapse;}
.scroll-table table thead tr {position: absolute; top: 0;}
.scroll-table table thead tr th {font-weight: normal;}
.scroll-table table thead tr th:first-child {padding-left: 15px; padding-right: 15px; text-align: left;}
.scroll-table table td {text-align: center;}
.scroll-table table td:first-child {padding-left: 15px; padding-right: 15px; text-align: left;}
.scroll-table table tr {display: inline-table; width: 100%; table-layout: fixed;}
.scroll-table table tr td.contsTitle div {width: calc(100% - 95.33px); display: inline; float: left; min-width: 69px; text-align:left !important;}
.tab {display:none}
td.contsCtgNm {text-align:left !important;}

/*  */
span.hiddenIcon::after {content: ""; background-image: url(../image/icon_hidden.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}


/* chartBox */

#chartBox {border:solid 1px #aaa; padding:20px; overflow:hidden;}
#chartBox .contsBoxGrp {width:100px; float:left; margin:10px 20px;}
#chartBox .contsBoxGrp .contsBox {width:100px; height:400px; border:solid 1px #aaa; border-radius:5px; background-color:#f5f5f5; padding:0; position:relative;}
#chartBox .contsBoxGrp .contsBox .percentBox {width:100%; background-color:#0081db; border:solid 1px #103363; border-radius:5px; position:absolute; bottom:0; text-align:center; color:#fff;}
#chartBox .contsBox .percentBox  .useStatTxt {position:absolute; bottom:10px; left:24%;}
#chartBox .contsBoxGrp .useStatBottmTxt {font-size:14px;}


/* agreement */

.content {font-size:14px; line-height:1.6em;}
.content .atc1 {font-size:15px; font-weight:600; line-height:3.0em; margin-top:20px;}
.content .atc2 {font-size:14px; font-weight:600; line-height:2.0em; margin-top:15px;}
.content .atc3 {font-size:13px; color:#333; margin-top:15px; letter-spacing:-.5px; padding-left:10px;}
.content .atc4 {font-size:12px; color:#555; letter-spacing:-1px; line-height:2.0em;}
.content .atcBold {font-weight:600; line-height:2.0em;}

.content .agreeTable {width:100%; font-size:13px; border-left:solid 1px #aaa; border-top:solid 1px #aaa; margin:20px 0; letter-spacing:-1px;}
.content .agreeTable th {border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; padding:5px; background-color:#eee; font-weight:600;}
.content .agreeTable td {border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; padding:5px; text-align:center;}


/* popup Select Contents */

#popupSelectContent {position:absolute; width:1020px; height:620px; border:solid 1px #999; top:100px; left:20%; padding:20px; background-color:#fff; box-shadow:5px 5px 2px #ddd;}
#popupSelectContent .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}


/* popup History modify */

#openHistoryModify {position:absolute; width:1020px; height:470px; border:solid 1px #999; top:100px; left:20%; padding:20px; background-color:#fff; box-shadow:5px 5px 2px #ddd;}
#openHistoryModify .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#openHistoryModify .popupNumber {width:100%; padding:5px 0; font-size:15px; font-weight:600; }


/* metaWrite */

.metaWrite {position:absolute; width:500px; height:350px; border:solid 1px #999; top:100px; left:30%; padding:20px; background-color:#fff; box-shadow:5px 5px 2px #ddd;}
.metaWrite .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
.metaWrite .metadataName {padding:10px 0; font-size:14px;}
.metaWrite .metadataGrp {border:solid 1px #aaa; font-size:14px;}
.metaWrite .metaInfo {width:100%;}
.metaWrite .metaInfo th, .metaWrite .metaInfo td  {border-bottom:solid 1px #ddd;}
.metaWrite .metaInfo td  {padding-left:10px;}
.metaWrite .metadataGrp th {width:130px; text-align:right; padding:5px; background-color:#f5f5f5; border-right:solid 1px #ddd; }
.metaWrite .metadataGrp td {padding-left:10px; border-bottom:solid 1px #ddd; background-color:#f5f5f5}


/* block chain  */

.block-chain-tap-group {border:solid 1px #ddd; background-color:#f9f9f9; height:44px; padding:6px 10px 3px 0; }
.block-chain-tap-group .block-chain-caution {float:left; line-height:27px; padding-left:36px; color:#f00; background-image:url(../image/icon_caution.png); background-repeat:no-repeat; background-position:10px 5px;}
.select-per-grp {height:36px; font-size:14px; float:right; padding:0;}

.select-radio-grp {height:46px; margin-top:5px; padding-top:10px;}
.select-radio-grp label  {height:30px;}
.select-radio-grp input[type="radio"] {margin-top:-1px; vertical-align:middle;}

